<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awan Hoster</title>
    <!-- <link rel="stylesheet" href="web.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body{
    margin: 0%;
    padding: 0%;
}
.section{
    max-width: 1500px;
    margin: 0 auto;
}

/* header */

.header-color{
    background-color: #F0F6FF;
}


.header-logo{
    display: flex;
    width: 700px;
}

.header-logo img{
    width: 70px;
    padding-right: 15px;
    height: 70px;
}

.header-container{
    display: flex;
    padding-top: 1%;
}
.header-items-list{
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;

}
.header-items-list li{
    display: inline;
    padding-right: 40px;
}


.header-items-list li a{
    text-decoration: none;
    color:#0A2259;
}

.header-items{
    display: flex;
     width: 100%;
    flex-direction: row-reverse;
}

#login{
    font-family: sans-serif;
    color: #0A2259;
    border: 2px solid #0A2259;
    padding: 11px;
    background-color: #ffffff;
    width: 125px;
    font-size: 14px;
    font-weight: 200;
    cursor: pointer;
}

.hr-navbar{
    opacity: 0.4;
    margin: 0% 0;
}


/* section 1 */
.section2{
    display: flex;
    padding-bottom: 2%;
}

.content1 h2{
    font-size: 78px;
    padding: 0%;
    margin-right: 34%;
    line-height: 118%;
  }


.content1 p{
margin-right: 45%;
  line-height: 24px;
  font-size: 20px;
}

.section2-button{
    display: flex;
}

.section2-button1{
    padding: 18px;
}

.section2-two{
margin-right: 80px;
}

.content1{
   color: #0A2259;
}

#section2-button1{
    padding: 16px;
    width: 147px;
    color: whitesmoke;
    background-color: #F2A33A;
    border: 2px solid #F2A33A;
    cursor: pointer;
    font-weight: 400;
}

#section2-button2{
    font-family: sans-serif;
    color: #0A2259;
    border: 2px solid #0A2259;
    padding: 15px;
    background-color: #ffffff;
    width: 106%;
    font-size: 14px;
    font-weight: 200;
    cursor: pointer;
  }

.downarrow{
  padding: 2%;
  margin-top: 1%;
}

.section2 img{
    height: 85%;
}

/* section 3 */

.section3-color{
    background-color: #F0F6FF;
    opacity: 0.5;
}
.section3{
    display: flex;
    padding-top: 38px;
}

.content2-h4{
width: 200px;
  line-height: 21px;
}

.content3{
    padding-inline: 63px;
}

#cn3{
margin-top: -41px;
  margin-left: 80px;
}


.content2-h4{
margin-top: -3px;
  /* padding: 16px; */
  margin-left: 7px;
}


/* section 4 */

.section4{
    display: flex;
    padding-top: 5%;
    padding-bottom: 3%;
}

.content4-div2{
    display: flex;
    flex-wrap: wrap;
}

.content4{
    width: calc(100%/2);
}

.section4-two{
margin-left: 49px;
}

.section4-heading h2{
font-size: 43px;
  width: 60%;
  line-height: 57px;
  color: #0A2259;
}

.content4 h4{
    font-size: 21px;
    color:#23549D;
}

.content4 p{
font-size: 17px;
  width: 60%;
  line-height: 24px;
  color: #AAAAAA;
}

.twotwo{
    margin-left: -11%;
}

.fourfour{
    margin-left: -11%;
}

/* section 5 */

.section5{
    padding-top: 4%;
    padding-bottom: 4%;
}

.card-logo{
    display: flex;
    justify-content: center;
}

.card-data p{
    text-align: center;
  width: 86%;
  padding-left: 44px;
  line-height: 25px;
}

.section5-cards{
    display: flex;
}

.section5-heading h2{
    text-align: center;
    font-size: 38px;
  width: 60%;
  color: #0A2259;
}

.section5-heading{
  margin-left: 24%;
}

.card{
   background-color: white;
   border: 2px solid  #F0F6FF;
   margin-right: 20px;
   width: calc(100%/4);
   /* height: 100%; */
   padding: 20px;
}

.card-frontcolor{
 background-color: #F0F6FF;
 padding-top: 10px;
 padding-bottom: 10px;
}

.pricebold{
    font-size: 44px;
}

.card-data p{
    color: #AAAAAA;
}
.card-logo h4{
    margin-left: 8px;
    font-size: 18px;
    color:#23549D;
}
.card-price p{
    text-align: center;
    color: #0A2259;
}

.card-button button{
    color: #0A2259;
    border: 2px solid #0A2259;
    padding: 15px;
    background-color: white;
    width: 100%;
    font-size: 15px;
    font-weight: 200;
    cursor: pointer;
}

.card-top{
    padding-bottom: 19px;
}

.card:hover{
    background-color: #0A2259;
    color: white;
}
.card:hover .card-price p{
    color: #ffffff;
}
.card:hover .card-button button{
    background-color: #F2A33A;
    color: white;
}
.card:hover .card-frontcolor{
    background-color: #23549D;
    color: white;
}
.card:hover .card-logo h4{
    color: white;
}
.card:hover .card-data p{
    color: white;
}

.card-logo img{
    width: 51px;
}

/* section 6 */
.section6{
    display: flex;
    padding-top: 4%;
    padding-bottom: 4%;
}

.section6-div1{
    padding-left: 50px;
}

.section6-div1-one{
    margin: 21px 0;
}
.options-list{
display: flex;
width: calc(100%/2);
}

.section6-options{
    display: flex;
    flex-wrap: wrap;
    padding-right: 30%; 
    /* margin-top: -1.5%; */
    max-width: 80%;
}

.section6-button{
    color: white;
    border: 2px solid #F2A33A;
    padding: 5px;
    font-size: 15px;
    font-weight: 200;
    cursor: pointer;
    max-height: 47px;
    background-color: #F2A33A;
    width: 143px;

}
.options-list{
    padding: 6px;
}
.section6-tablist img{
    padding-left: 20px;
    padding-top: 13px;
    padding-bottom: 12px;
}

.section6-tablist{
    /* opacity: 0.2;    */
    display: flex;
    border: 2px solid #F0F6FF;
    background-color:#f0f6ff27;
    color:#6a88b654;
    margin: 0px;
    width: 337px;
}
.options-list img{
height: 21px;
  width: 19px;


}

.options-list p{
    margin-top: 0%;
    padding-left: 10px;
    color: rgb(70, 67, 67);
    font-weight: bold;
}

.section6-tablist img{
    opacity: 0.2;
}

.section6-tablist h3{
    padding-left: 13px;
    padding-top: 2%;
}

.section6-div2{
    margin-left:21%;
    margin-top: 16px;
}

.section6-heading h2{
    max-width: 67%;
    font-size: 43px;
    line-height: 131%;
  margin-top: 0%;
  color: #0A2259;
}

.section6-heading p{
    max-width: 65%;
    font-size: 20px;
  color: #AAAAAA;
}

.section6-div1-one:hover{
    background-color: #f0f6ff;
    /* opacity: 1; */
}

.section6-div1-one:hover h3{
    color:#6A88B6;
    /* opacity: 1; */
    font-weight: bold;

}
.section6-div1-one:hover .section6-tablist img{
    opacity: 1;
}


/* SECTION 7 */
.section7{
    display: flex;
    padding-top: 4%;

}
#arrowleft{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.section7-two{
text-align: end;
   /* flex-direction: row-reverse; */
   width: 100%; 
   padding-top: 10px;

}

.section7-one h2{
  font-size: 38px;
  width: 101%;
  margin-top: 0%;
}

.section7-one{
  padding-left: 49px;
}

.section7-two img{
padding-right: 240px;
  padding-top: 24px;
}



/* section 10 */
.section10-rowdiv{
    display: flex;
    overflow-x: scroll;
    margin: auto;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: hidden;
} 



.section10{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: scroll;
    padding-top: 4%;
    padding-bottom: 4%;

}
.section10-coldiv{
    text-align: center;
    
    min-width: 30%;
    background-color: white;
    padding: 20px;
    /* border: 2px solid black; */
}

.section10-coldiv1{
    background-color: #F0F6FF;
    padding: 20px;
}
.section10-col-subdiv{
    background-color: white;
    padding: 9px;
}

.section10-data{
    padding: 14px;
  color:#AAAAAA;
}
.name{
    color: #0A2259;
}
.designation{
    color: #AAAAAA;
}
.section10-img{
    padding: 12px;
}
.section10-star{
    padding: 8px;
}


/* section 8 */

.section8{
    display: flex;
    padding-top: 4%;
    padding-bottom: 4%;
}

.section8-button{
    display: flex;
}

.section8-two{
    margin-left: -16%;
}

.section8-heading h2{
    font-size: 52px;
    width: 52%;
    padding-top: 4%;
  }
.section8-heading p{
font-size: 18px;
  width: 50%;
  line-height: 28px;
}

.section8-one{
    padding-left: 4%;
}


#section8-button1 {

    color: white;
    border: 2px solid #F2A33A;
    padding: 15px;
    background-color: #F2A33A;
    width: 106%;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.section8-button1{
    margin-right: 25px;
    margin-top: 13px;
}


#section8-button2{
    color: #0A2259;
    border: 2px solid #0A2259;
    padding: 15px;
    background-color: #F0F6FF;
    width: 106%;
    font-size: 15px;
    font-weight: 200;
    cursor: pointer;
}

/* section 9 */

.footer-color{
    background-color: #0A2259;
}

.section9{
    display: flex;
    padding-top: 4%;
    padding-bottom: 2%;
}

.section9-onedata p{
width: 60%;
  line-height: 25px;
  color: white;
  padding-top: 14px;
}

.bi{
    color: white;
    /* padding-top: 10px; */
    padding-left: 8px;
    padding-right: 8px;
}

.section9-logo{
    padding-top: 12px;
}

.section9-two{
    padding-right: 2px;
    padding-left: 163px;
    color: white;
}


    </style>
</head>
<body>
    <div class="header-color">
    <section class="section">
        <div class="header-container">
        <div class="header-logo" id="header-logo"> 
            <img src="/public/static/cloud-sunny.png" alt="">
            <h2 class="logo-name"> Awan Hoster</h2>
        </div>
        <div class="header-items">
            <ul class="header-items-list">
              <li><a href="">Hosting</a></li>
               <li><a href="">Integration</a></li>
              <li><a href="">Pricing</a></li>
                <li><a href="">Communtiy</a></li>
                <li><button id="login">Login</button></li>
            </ul>
        </div>
    </div>
    </div>
    </section>
    <hr class="hr-navbar">

    <!-- section 2 -->
    <div class="header-color">
        <div class="section">
            <div class="section2">
                <div class="section2-one">
                    <div class="content1">
                        <h2> Hosting Services for Your Website</h2>
                        <p>Easily and reliable host a website for your business, organization, or project while retaning complete control over your site's underlying infrastructure.</p>
                    </div>
                    <div class="section2-button">
                        <div class="section2-button1">
                            <button id="section2-button1">Get Started</button>
                        </div>
                        <div class="section2-button1" >
                            <button id="section2-button2">Get Migration Help</button>
                        </div>
                    </div>
                    <div class="downarrow">
                        <img src="/public/static/arrow-down.png" alt="" class="down-arrow">
                    </div>
                </div>

                <div class="section2-two">
                    <img src="/public/static/portrait-confident-bearded-man-using-laptop-computer 1.png" alt="" class="section2-two-img">
                </div>
            </div>
        </div>
    </div>

    <!-- section 3 -->
    <div class="section3-color">
        <section class="section">
            <div class="section3">
                <div class="content2">
                    <h4 class="content2-h4">
                        Those Who Have Experienced The best Performance
                    </h4>
                </div>
                <div class="content3" id="cn3"><img src="/public/static/Telkom Indonesia Logo.png" alt="" class="content3-img"></div>
                <div class="content3" id="cn4"><img src="/public/static/Jetstar Airways Logo.png" alt="" class="content4-img"></div>
                <div class="content3" id="cn5"><img src="/public/static/Nescafe Logo.png" alt="" class="content5-img"></div>
                <div class="content3" id="cn6"><img src="/public/static/Lenovo Logo.png" alt="" class="content6-img"></div>
            </div>
        </section>
    </div>

    <!-- section-4 -->
    <section class="section">
        <div class="section4">
            <div class="section4-one ">
                <img src="/public/static/Group 3552.png" alt="" class="section4-img">
            </div>


            <div class="section4-two ">
                <div class=" section4-heading"><h2>Boost the Speed of your website</h2></div>
                 <div class="content4-div2">
                <div class="content4 oneone">
                    <h4>Faster Build Process</h4>
                    <p>We can speed up the process of creting your website</p>
                </div>
                <div class="content4 twotwo">
                    <h4>Faster Delivery</h4>
                    <p>Our purchase and services can be completed quickly</p>
                </div>
                <div class="content4 threethree">
                    <h4>Faster Access Speed</h4>
                    <p>superb network infrastructure and hardware to support fast and stable access</p>
                </div>
                <div class="content4 fourfour">
                    <h4>24/7 Faster Service</h4>
                    <p>we have a response time of less than 180 seconds, avilable 24 hours a day</p>
                </div>
            </div>
        </div>
        </div>
    </section>    

    <!-- section 5 -->

    <div class="header-color">
        <section class="section">
            <div class="section5">
                <div class="section5-heading">
                    <h2>Host Any Website With Our Fully managed Services</h2>
                </div>
                <div class="section5-cards">
                    <div class="card card1">
                        <div class="card-top">
                            <div class="card-frontcolor">
                            <div class="card-logo">
                                <img src="/public/static/cloud-sunny.png" alt="">
                                <h4>Cloud Hosting</h4>
                            </div>
                            <div class="card-data">
                                <p>Cloud Hosting is a good fit for those of you who are buiding personal websites, portfolios, blogs, and other systems</p>
                            </div>
                            </div>
                            <div class="card-price">
                                <p><span class="pricebold">$5.9</span>/month</p>
                            </div>
                            <div class="card-button">
                                <button>More Detail</button>
                            </div>
                        </div>
                    </div>

                    <div class="card card2">
                        <div class="card-top">
                            <div class="card-frontcolor">
                            <div class="card-logo">
                                <img src="/public/static/buildings.png" alt="">
                                <h4>Corporate</h4>
                            </div>
                            <div class="card-data">
                                <p>Provides business-related hosting services, such as websites or managment systems for companies</p>
                            </div>
                            </div>
                            <div class="card-price">
                                <p><span class="pricebold">$19</span>/month</p>
                            </div>
                            <div class="card-button">
                                <button>More Detail</button>
                            </div>
                        </div>
                    </div>

                    <div class="card card3">
                        <div class="card-top">
                            <div class="card-frontcolor">
                            <div class="card-logo">
                                <img src="/public/static/driver.png" alt="">
                                <h4>Cloud VPS</h4>
                            </div>
                            <div class="card-data">
                                <p>A scalable, fully-managed virtual private server we build and optimize specifically for your website</p>
                            </div>
                            </div>
                            <div class="card-price">
                                <p><span class="pricebold">$29</span>/month</p>
                            </div>
                            <div class="card-button">
                                <button>More Detail</button>
                            </div>
                        </div>
                    </div>

                    <div class="card card4">
                        <div class="card-top">
                            <div class="card-frontcolor">
                            <div class="card-logo">
                                <img src="/public/static/monitor-mobbile.png" alt="">
                                <h4>Dedicated</h4>
                            </div>
                            <div class="card-data">
                                <p>your mission-critical website requires the performance and security of a dedicated physical server.</p>
                            </div>
                            </div>
                            <div class="card-price">
                                <p><span class="pricebold">$119</span>/month</p>
                            </div>
                            <div class="card-button">
                                <button>More Detail</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <!-- section -6 -->
    <section class="section">
        <div class="section6">
            <div class="section6-div1">
                <div class="section6-div1-one">
                <li onclick="changescreen('wordpress')" class="section6-tablist">
                    <img src="/public/static/WordPress.com Logo.png" alt="">
                    <h3>Wordpress</h3>
                </li>
            </div>
            <div class="section6-div1-one">
                <li onclick="changescreen('magento')" class="section6-tablist">
                    <img src="/public/static/WordPress.com Logo.png" alt="">
                    <h3>Magento</h3>
                </li>
            </div>
            <div class="section6-div1-one">
                <li onclick="changescreen('laravel')" class="section6-tablist">
                    <img src="/public/static/WordPress.com Logo.png" alt=""> 
                    <h3>Laravel</h3>
                </li>
            </div>
                <div class="section6-div1-one">
                <li onclick="changescreen('php')" class="section6-tablist">
                    <img src="/public/static/WordPress.com Logo.png" alt="">
                    <h3>PHP</h3>
                </li>
            </div>
            </div>

            <!-- tab content's -->
            <div class="section6-div2 section6-data">
                <div class="wordpress-data section6-inner-data" id="wordpress">
                    <div class="wordpress-headind section6-heading">
                        <h2>The Best Managed Cloud Hosting for WordPress</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae facere officiis aliquam qui libero perferendis ut deserunt adipisci veniam expedita.</p>
                    </div>
                    <div class="section6-options">
                        <div class="options-list">
                            <img src="/public/static/Vector.png" alt="">
                            <p>Unlimited Bandwidth</p>
                        </div>
                        <div class="options-list">
                            <img src="/public/static/Vector.png" alt="">
                            <p>Network Speed</p>
                        </div>
                        <div class="options-list">
                            <img src="/public/static/Vector.png" alt="">
                            <p>Turbo Power</p>
                        </div>
                        <div class="options-list">
                            <img src="/public/static/Vector.png" alt="">
                            <p>Xtreme Freedom</p>
                        </div>
                        <button class="section6-button">More Details</button>
                    </div>
                </div>


                <div class="magento-data section6-inner-data" style="display: none;" id="magento">
                    <div class="magento-headind section6-heading">
                        <h2>The Best Managed Cloud Hosting for Magento</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae facere officiis aliquam qui libero perferendis ut deserunt adipisci veniam expedita.</p>
                    </div>
                    <div class="section6-options">
                        <div class="options-list">
                            <img src="/public/static/Vector.png" alt="">
                            <p>Unlimited Bandwidth</p>
                        </div>
                        <div class="options-list">
                            <img src="/public/static/Vector.png" alt="">
                            <p>Network Speed</p>
                        </div>
                        <div class="options-list">
                            <img src="/public/static/Vector.png" alt="">
                            <p>Turbo Power</p>
                        </div>
                        <div class="options-list">
                            <img src="/public/static/Vector.png" alt="">
                            <p>Xtreme Freedom</p>
                        </div>
                        <button class="section6-button">More Details</button>
                    </div>
                </div>


                <div class="laravel-data section6-inner-data" id="laravel" style="display: none;">
                    <div class="laravel-headind section6-heading">
                        <h2>The Best Managed Cloud Hosting for Laravel</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae facere officiis aliquam qui libero perferendis ut deserunt adipisci veniam expedita.</p>
                    </div>
                    <div class="section6-options">
                        <div class="options-list">
                            <img src="/public/static/Vector.png" alt="">
                            <p>Unlimited Bandwidth</p>
                        </div>
                        <div class="options-list">
                            <img src="/public/static/Vector.png" alt="">
                            <p>Network Speed</p>
                        </div>
                        <div class="options-list">
                            <img src="/public/static/Vector.png" alt="">
                            <p>Turbo Power</p>
                        </div>
                        <div class="options-list">
                            <img src="/public/static/Vector.png" alt="">
                            <p>Xtreme Freedom</p>
                        </div>
                        <button class="section6-button">More Details</button>
                    </div>
                </div>


                <div class="php-data section6-inner-data" style="display: none;" id="php">
                    <div class="php-headind section6-heading">
                        <h2>The Best Managed Cloud Hosting for PHP</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae facere officiis aliquam qui libero perferendis ut deserunt adipisci veniam expedita.</p>
                    </div>
                    <div class="section6-options">
                        <div class="options-list">
                            <img src="/public/static/Vector.png" alt="">
                            <p>Unlimited Bandwidth</p>
                        </div>
                        <div class="options-list">
                            <img src="/public/static/Vector.png" alt="">
                            <p>Network Speed</p>
                        </div>
                        <div class="options-list">
                            <img src="/public/static/Vector.png" alt="">
                            <p>Turbo Power</p>
                        </div>
                        <div class="options-list">
                            <img src="/public/static/Vector.png" alt="">
                            <p>Xtreme Freedom</p>
                        </div>
                        <button class="section6-button">More Details</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- section 7 -->
    <section class="section">
        <div class="section7">
            <div class="section7-one">
                <h2> How Our Customers Feel About Us</h2>
            </div>
            <div class="section7-two">
                <img src="/public/static/arrow-right.png" alt="" id="arrowleft" onclick="prevSlide()">
                <img src="/public/static/arrow-right.png" alt="" id="arrowright" onclick="nextSlide()">
            </div>
        </div>
    </section>


    <!-- section 10 -->
    <section class="section">
        <div class="section10">
            <div class="section10-rowdiv" id="section10-rowdiv">
                <div class="section10-coldiv">
                    <div class="section10-coldiv1">
                    <div class="section10-col-subdiv">
                    <div class="section10-img">
                        <img src="/public/static/profile.png" alt="">
                    </div>
                    <div class="section10-star">
                        <img src="/public/static/Star 2.png" alt="">
                        <img src="/public/static/Star 2.png" alt="">
                        <img src="/public/static/Star 2.png" alt="">
                        <img src="/public/static/Star 2.png" alt="">
                        <img src="/public/static/Star 2.png" alt="">

                    </div>
                    <div class="section10-data">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum facere quod neque nihil praesentium? Animi molestias quaerat sed quos! Odit.
                    </div>
                    <div class="section10-foot">
                        <h3 class="name">Guy Hawkins</h3>
                        <p class="designation">Manager</p>
                    </div>
                  </div>
                </div>
                </div>

                <div class="section10-coldiv">
                                        <div class="section10-coldiv1">
                    <div class="section10-col-subdiv">
                    <div class="section10-img">
                        <img src="/public/static/profile.png" alt="">
                    </div>
                    <div class="section10-star">
                        <img src="/public/static/Star 2.png" alt="">
                        <img src="/public/static/Star 2.png" alt="">
                        <img src="/public/static/Star 2.png" alt="">
                        <img src="/public/static/Star 2.png" alt="">
                        <img src="/public/static/Star 2.png" alt="">

                    </div>
                    <div class="section10-data">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum facere quod neque nihil praesentium? Animi molestias quaerat sed quos! Odit.
                    </div>
                    <div class="section10-foot">
                        <h3 class="name">Guy Hawkins</h3>
                        <p class="designation">Manager</p>
                        </div>
                    </div>
                    </div>
                </div>
               
                <div class="section10-coldiv">
                                        <div class="section10-coldiv1">
                                        <div class="section10-col-subdiv">
                    <div class="section10-img">
                        <img src="/public/static/profile.png" alt="">
                    </div>
                    <div class="section10-star">
                        <img src="/public/static/Star 2.png" alt="">
                        <img src="/public/static/Star 2.png" alt="">
                        <img src="/public/static/Star 2.png" alt="">
                        <img src="/public/static/Star 2.png" alt="">
                        <img src="/public/static/Star 2.png" alt="">

                    </div>
                    <div class="section10-data">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum facere quod neque nihil praesentium? Animi molestias quaerat sed quos! Odit.
                    </div>
                    <div class="section10-foot">
                        <h3 class="name">Guy Hawkins</h3>
                        <p class="designation">Manager</p>
                        </div>
                    </div>
                    </div>
                </div>
               
                <div class="section10-coldiv">
                                        <div class="section10-coldiv1">
                                        <div class="section10-col-subdiv">
                    <div class="section10-img">
                        <img src="/public/static/profile.png" alt="">
                    </div>
                    <div class="section10-star">
                        <img src="/public/static/Star 2.png" alt="">
                        <img src="/public/static/Star 2.png" alt="">
                        <img src="/public/static/Star 2.png" alt="">
                        <img src="/public/static/Star 2.png" alt="">
                        <img src="/public/static/Star 2.png" alt="">

                    </div>
                    <div class="section10-data">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum facere quod neque nihil praesentium? Animi molestias quaerat sed quos! Odit.
                    </div>
                    <div class="section10-foot">
                        <h3 class="name">Guy Hawkins</h3>
                        <p class="designation">Manager</p>
                        </div>
                    </div>
                    </div>
                </div>
               
                <div class="section10-coldiv">
                                        <div class="section10-coldiv1">
                                        <div class="section10-col-subdiv">
                    <div class="section10-img">
                        <img src="/public/static/profile.png" alt="">
                    </div>
                    <div class="section10-star">
                        <img src="/public/static/Star 2.png" alt="">
                        <img src="/public/static/Star 2.png" alt="">
                        <img src="/public/static/Star 2.png" alt="">
                        <img src="/public/static/Star 2.png" alt="">
                        <img src="/public/static/Star 2.png" alt="">

                    </div>
                    <div class="section10-data">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum facere quod neque nihil praesentium? Animi molestias quaerat sed quos! Odit.
                    </div>
                    <div class="section10-foot">
                        <h3 class="name">Guy Hawkins</h3>
                        <p class="designation">Manager</p>
                        </div>
                    </div>
                    </div>
                </div>
               
                <div class="section10-coldiv">
                                        <div class="section10-coldiv1">
                                        <div class="section10-col-subdiv">
                    <div class="section10-img">
                        <img src="/public/static/profile.png" alt="">
                    </div>
                    <div class="section10-star">
                        <img src="/public/static/Star 2.png" alt="">
                        <img src="/public/static/Star 2.png" alt="">
                        <img src="/public/static/Star 2.png" alt="">
                        <img src="/public/static/Star 2.png" alt="">
                        <img src="/public/static/Star 2.png" alt="">

                    </div>
                    <div class="section10-data">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum facere quod neque nihil praesentium? Animi molestias quaerat sed quos! Odit.
                    </div>
                    <div class="section10-foot">
                        <h3 class="name">Guy Hawkins</h3>
                        <p class="designation">Manager</p>
                        </div>
                    </div>
                    </div>
                </div>
               
                <div class="section10-coldiv">
                                        <div class="section10-coldiv1">
                                        <div class="section10-col-subdiv">
                    <div class="section10-img">
                        <img src="/public/static/profile.png" alt="">
                    </div>
                    <div class="section10-star">
                        <img src="/public/static/Star 2.png" alt="">
                        <img src="/public/static/Star 2.png" alt="">
                        <img src="/public/static/Star 2.png" alt="">
                        <img src="/public/static/Star 2.png" alt="">
                        <img src="/public/static/Star 2.png" alt="">

                    </div>
                    <div class="section10-data">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum facere quod neque nihil praesentium? Animi molestias quaerat sed quos! Odit.
                    </div>
                    <div class="section10-foot">
                        <h3 class="name">Guy Hawkins</h3>
                        <p class="designation">Manager</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>


    </section>



    <!-- section 8 -->
    <div class="header-color">
        <section class="section">
            <div class="section8">
                <div class="section8-one">
                    <div class="section8-heading">
                        <h2>
                            Try it Now and Stop Doubting Anything Else
                        </h2>
                        <p>
                            With Awan Hoster's Money Back Gurantee, you can try the best service reliability
                        </p>
                    </div>
                    <div class="section8-button">
                        <div class="section8-button1" >
                            <button id="section8-button1">Start Free Trial</button>
                        </div>
                        <div class="section8-button1" >
                            <button id="section8-button2"> See All Plans</button>
                        </div>
                    </div>
                </div>
                <div class="section8-two">
                    <img src="/public/static/Group 1000008788.png" alt="">
                </div>
            </div>
        </section>
    </div>


    <!-- sevtion 9 -->
    <div class="footer-color">
        <section class="section">
            <div class="section9">
                <div class="section9-one">
                    <div class="section9-oneimg">
                        <img src="/public/static/logo-white.png" alt="">
                    </div>
                    <div class="section9-onedata">
                        <p>We provide you with the best hosting solutions for your website.</p>
                    </div>
                    <div class="section9-logo">
                        <i class="bi bi-facebook"></i>
                        <i class="bi bi-twitter"></i>
                        <i class="bi bi-instagram"></i>
                        <i class="bi bi-youtube"></i>
                        <i class="bi bi-discord"></i>

                    </div>
                </div>
                <div class="section9-two">
                    <div class="section9-two-data">
                        <h3>Company</h3>
                        <p>About</p>
                        <p>Blog</p>
                        <p>Leadership</p>
                        <p>Careers</p>
                        <p>Legal</p>
                    </div >
                </div>
                <div class="section9-two">
                    <div class="section9-three-data">
                        <h3>Products</h3>
                        <p>API</p>
                        <p>Pricing</p>
                        <p>Documentation</p>
                        <p>Release Notes</p>
                    </div>
                </div>
                <div class="section9-two">
                    <div class="section9-four-data">
                        <h3>Contact</h3>
                        <p>Support</p>
                        <p>Sales</p>
                        <p>Report Abuse</p>
                        <p>System Status</p>
                    </div>
                </div>
            </div>
        </section>
    </div>



    <script >
        let displayid="wordpress"
        
        function changescreen(id){
            document.getElementById(displayid).style.display="none";
            document.getElementById(id).style.display="block";
            displayid=id;
        }
        
        function prevSlide(){
            const btnn=document.getElementById("section10-rowdiv");
            // console.log(btnn);
            
            btnn.scrollLeft -=200;
        }
        
        function nextSlide(){
            const btnn=document.getElementById("section10-rowdiv");
            btnn.scrollLeft +=200;
        }</script>
</body>
</html>