<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
                    body{
                background-color: rgb(15, 15, 15);
               color:whitesmoke ; 
            }
        .queryclass{
            text-align: center;
            padding-top: 20px;
        }
        table{
            background-color: black;
            color: white;
            text-align: center;
            margin: auto 0;
        }
        table,
        table th,
        table td{
            border: 1px solid white;
        }
        form textarea{ 
        margin-left: 121px;
    }
    </style>
</head>
<body>
    <div class="info">
        <center> <h2>Parth Patil- 24DEV014</h2>  </center>
        <center> <h3>Write your SQL Queries</h3></center>
    </div>
    <div class="queryclass"> 
     <form action="/dynamicquery" method="post">
        <!-- <input type="text" name="qr">  -->
        <textarea name="qr" id="" cols="40" rows="5"></textarea>
        <input type="submit">
     </form>
    </div>
</body>
</html>