<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>

     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">        
      <style>
        fieldset{
            border: 4px solid rgb(0, 153, 255);
            border-radius: 12px;
            padding: 10px;
            margin: 4px;
        }
        p{
            color: red;
        }
      </style>
    </head>
    <body>
        <form action="/form" method="post"  name="myform" onsubmit="return datavalidation()">
            <div >
                <center>
                    <h2>Job Application Form</h2> 
                </center>
            </div>
           
            <div class="container" >
              <div class="row">
                        <!-- Basic Details-->
                <div class="col">
                   <fieldset> <legend>Basic Details</legend>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6-">
                                <label name="first_name" >First Name</label>
                                <input name="first_name" id="first_name" type="text" class="form-control"/>
                                <p class="validate_of not_number" id="not_number"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6-">
                                <label name="last_name" >Last Name</label>
                                <input name="last_name" id="last_name" type="text"  class="form-control"/>
                                <p class="validate_of not_number" id="not_number"></p>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6" >
                                <label name="designation" >Designation</label>
                                <input name="designation_basic" id="designation_basic" type="text"  class="form-control"/>
                                <p class="validate_of"></p>
                            </div>
                            <div class="col-md-6">
                                <label name="Address_1" >Address 1</label>
                                <input name="address_1" id="address_1"  type="text" class="form-control"></textarea>
                                <p class="  validate_of"> </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="phone" >Phone</label>
                                <input name="phone" id="phone" type="text" class="form-control" />
                                <p class="validate_of" id="phone_validation"> </p>
                            </div>
                            <div class="col-md-6">
                                <label for="city" >city</label>
                                <input name="city" id="city"  type="text" class="form-control" />
                                <p class="  validate_of"> </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="state" >State</label>
                                <select name="state" id="state" class="form-control">
                                   <option value="Guajarat">Gujarat</option>
                                   <option value="Maharashtra">Maharashtra</option>
                                   <option value="UP">UP</option>
                                   <option value="punjab">Punjab</option>
                                 </select>
                            </div>
                            <div class="col-md-6">
                                <label for="email" >E-Mail</label>
                                <input name="email" id="email"  type="text" class="form-control" />
                                <p class=" " id="email_validation"> </p>
                            </div> 
                        </div>

                        <div class="row">
                            <div class="col-md-6" class="form-control">
                                <label>Gender:</label>
                                <div class="control">
                                <input type="radio"  name="gender" value="male">Male
                                <input type="radio"  name="gender" value="female">Female
                                </div>
                                <p id="gender_validation"></p>

                            </div>
                            
                            <div class="col-md-6">
                                <label for="zip_code" >Zip Code</label>
                                <input id="zip_code" name="zip_code" type="text" class="form-control"  />
                                <p class="  " id="zip_validation"> </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="relationship_status" >RelationShip Status</label>
                                <select name="status" id="status" class="form-control" >
                                   <option value="single">Single</option>
                                   <option value="married">Married</option>
                                 </select>

                            </div>
                            <div class="col-md-6">
                                <label for="dob">Date of Birth</label>
                                <input type="text" id="dob" name="dob" class="form-control"/> 
                                <p class="  " id="validate_dob"> </p>
                            </div>
                        </div>
                    </div>
                  </fieldset>
                </div>
                </div>

            <div class="row">

                <!-- Education Details-->
        <div class="col">
            <fieldset>
                <legend>Education Details</legend>
            <div class="container">

                  <!-- SSC result-->
                <div class="row">
                    <div class="col">
                        SSC Result
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label name="board_name" >Name of Board</label>
                        <input name="board_name" type="text" id="board_name_ssc" class="form-control"/>
                        <p class="ssc"></p>
                    </div>
                    <div class="col-md-4">
                        <label name="passing_year" >Passing Year</label>
                        <input name="passing_year" type="text" id="passing_year_ssc" class="form-control"/>
                        <p class="ssc eduno_validation" ></p>
                    </div>
                    <div class="col-md-4">
                        <label name="percentage" >Percentage</label>
                        <input name="percentage" type="text" id="percentage_ssc" class="form-control"/>
                        <p class="ssc eduno_validation"></p>
                    </div>
                    <p class="education_validation"></p>
                </div> 
                <hr>

                  <!-- HSC result-->
                <div class="row">
                 <div class="col-md-4">
                      HSC Result
                  </div>
                </div>  

            <div class="row">
                <div class="col-md-4">
                    <label name="board_name_hsc" >Name of Board</label>
                    <input name="board_name" type="text" id="board_name_hsc" class="form-control"/>
                    <p class="hsc"></p>
                </div>
                <div class="col-md-4">
                    <label name="passing_year_hsc" >Passing Year</label>
                    <input name="passing_year" type="text" id="passing_year_hsc" class="form-control"/>
                    <p class="hsc eduno_validation"></p>
                </div>
                <div class="col-md-4">
                    <label name="percentage_hsc" >Percentage</label>
                    <input name="percentage" type="text" id="percentage_hsc" class="form-control"/>
                    <p class="hsc eduno_validation"></p>
                </div>
                <p class="education_validation"></p>
            </div>
            <hr>


               <!-- bachelor result-->
            <div class="row">
                <div class="col-md-4">
                   Bachelor Degree
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label name="course_name" >Course Name</label>
                    <input name="board_name" type="text" id="board_name_bc"class="form-control"/>
                    <p class="bc"></p>
                </div>
                <div class="col-md-4">
                    <label name="passing_year_bc" >Passing Year</label>
                    <input name="passing_year" type="text" class="form-control" id="passing_year_bc"/>
                    <p class="bc eduno_validation" ></p>
                </div>
                <div class="col-md-4">
                    <label name="percentage_bc" >Percentage</label>
                    <input name="percentage" type="text" class="form-control" id="percentage_bc"/>
                    <p class="bc eduno_validation" ></p>
                </div>
                <p class="education_validation"></p>
            </div>
            <hr>

             <!--Master Result-->
             <div class="row">
                <div class="col">
                   Master Degree
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label name="course_name" >Course Name</label>
                    <input name="board_name" type="text" class="form-control" id="board_name_ms"/>
                    <p class="ms"></p>

                </div>
                <div class="col-md-4">
                    <label name="passing_year_ms" >Passing Year</label>
                    <input name="passing_year" type="text" class="form-control" id="passing_year_ms"/>
                    <p class="ms eduno_validation" ></p>
                </div>
                <div class="col-md-4">
                    <label name="percentage_ms" >Percentage</label>
                    <input name="percentage" type="text" class="form-control" id="percentage_ms"/>
                    <p class="ms eduno_validation"></p>
                </div>
                <p class="education_validation"></p>
            </div>
        </div>
        </fieldset>
            </div>
        </div>

        <!--Work Experience-->
        <div class="row"  >
        <div class="col">
            <fieldset>
                <legend> Work Experience</legend>
                <table id="company_dynamic">
            <div class="container" >
                <input type="button" value="+" onclick="addrow()">
                <input type="button" value="-" onclick="deleterow()">
                <div class="row"    >
                    <div class="col-md-3">
                        <label name="company_name" >Company Name</label>
                        <input name="company_name" type="text" class="form-control" id="company_name1" />
                        <p class="experience_validation"></p>
                    </div>
                    <div class="col-md-3">
                        <label name="designation" >Designation</label>
                        <input name="designation" type="text" class="form-control" id="designation1"/>
                        <p class="experience_validation"></p>
                    </div>
                    <div class="col-md-3">
                        <label for="from">From</label>
                        <input type="text" name="from" class="form-control" id="from1"/>
                        <p class="experience_validation"></p>
                    </div>
                    <div class="col-md-3">
                        <label for="to">To </label>
                        <input type="text" id="to1" name="to" class="form-control"/> 
                        <p class="experience_validation"></p>
                    </div>
                </div>
            </div>
        </table>
            </fieldset>
        </div>
        </div>

        <!--Language known & Technologies-->
        <div class="row">
            <div class="col-md-6">
                <fieldset>
                    <legend>Language Known</legend>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <input type="checkbox" name="lang" value="hindi" id="hindil">
                                <label for="lang1"> Hindi</label>
                            </div>
                            <div class="col-md-3">
                                <input type="checkbox" name="hindi" value="read" id="read1">
                                <label for="read"> read</label>&nbsp;
                            </div>
                            <div class="col-md-3">
                                <input type="checkbox" name="hindi" value="write" id="write1">
                                <label for="write"> write</label>
                            </div>
                            <div class="col-md-3">
                                <input type="checkbox" name="hindi" value="speak" id="speak1">
                                <label for="speak"> speak</label>
                            </div>
                             <p id="language_check1"></p>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <input type="checkbox" name="lang" value="english"  id="engl">
                                <label for="lang2"> English</label>
                            </div>
                            <div class="col-md-3">
                                <input type="checkbox" name="eng" value="read" id="read2">
                                <label for="read"> read</label>
                            </div>
                            <div class="col-md-3">
                                <input type="checkbox" name="eng" value="write" id="write2">
                                <label for="write"> write</label>
                            </div>
                            <div class="col-md-3">
                                <input type="checkbox" name="eng" value="speak" id="speak2">
                                <label for="speak"> speak</label> 
                            </div>
                            <p id="language_check2"></p>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <input type="checkbox" name="lang" value="gujarti" id="gujl">
                                <label for="lang3"> Gujarati</label>
                            </div>
                            <div class="col-md-3">
                                <input type="checkbox" name="guj" value="read" id="read3">
                                <label for="read"> read</label>
                            </div>
                            <div class="col-md-3">
                                <input type="checkbox" name="guj" value="write" id="write3">
                                <label for="write"> write</label>
                            </div>
                            <div class="col-md-3">
                                <input type="checkbox" name="guj" value="speak" id="speak3">
                                <label for="speak"> speak</label> 
                            </div>
                            <p id="language_check3"></p>
                        </div>
                </fieldset>
            </div>

            <div class="col-md-6">
                <fieldset>
                    <legend>Technologies</legend>
                    <div class="container"></div>
                    <div class="row">
                        <div class="col-md-3">
                            <input type="checkbox" name="technology" value="php" id="php">
                            <label for="technology1"> PHP</label>
                        </div>
                        <div class="col-md-3">
                              <input type="radio" id="beginer1" name="tech1" value="beginer">
                              <label for="beginer">beginer</label>
                        </div>
                        <div class="col-md-3">
                              <input type="radio" id="mediator1" name="tech1" value="mediator">
                              <label for="mediator">Mediator</label>
                        </div>
                        <div class="col-md-3">
                              <input type="radio" id="expert1" name="tech1" value="expert">
                              <label for="expert">Expert</label>    
                        </div>
                        <p id="tech1"></p>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <input type="checkbox" name="technology" value="MYSQL" id="mysql">
                            <label for="technology1"> MYSQL</label>
                        </div>
                        <div class="col-md-3">
                              <input type="radio"  name="tech2" value="beginer" id="beginer2">
                              <label for="beginer">beginer</label>
                        </div>
                        <div class="col-md-3">
                              <input type="radio"  name="tech2" value="mediator" id="mediator2">
                              <label for="mediator">Mediator</label>
                        </div>
                        <div class="col-md-3">
                              <input type="radio" name="tech2" value="expert" id="expert2">
                              <label for="expert">Expert</label>
                        </div>
                        <p id="tech2"></p>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <input type="checkbox" name="technology" value="laravel" id="laravel">
                            <label for="technology1"> Laravel</label>
                        </div>
                        <div class="col-md-3">
                              <input type="radio"  name="tech3" value="beginer" id="beginer3">
                              <label for="beginer">beginer</label>
                        </div>
                        <div class="col-md-3">
                              <input type="radio"  name="tech3" value="mediator" id="mediator3">
                              <label for="mediator">Mediator</label>
                        </div>
                        <div class="col-md-3">
                              <input type="radio" name="tech3" value="expert" id="expert3">
                              <label for="expert">Expert</label>
                        </div>
                        <p id="tech3"></p>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <input type="checkbox" name="technology" value="Oracle" id="oracle">
                            <label for="technology1"> Oracle</label>
                        </div>
                        <div class="col-md-3">
                              <input type="radio"  name="tech4" value="beginer" id="beginer4">
                              <label for="beginer">beginer</label>
                        </div>
                        <div class="col-md-3">
                              <input type="radio"  name="tech4" value="mediator" id="mediator4">
                              <label for="mediator">Mediator</label>
                        </div>
                        <div class="col-md-3">
                              <input type="radio" name="tech4" value="expert" id="expert4">
                              <label for="expert">Expert</label>
                        </div>
                        <p id="tech4"></p>
                    </div>
                </fieldset>
            </div>
        </div>

      <!--Refrence contact-->
      <div class="row">
        <div class="col">
            <fieldset>
                <legend>Refrence Contact</legend>
                <table id="refrence_dynamic">
                <div class="container">
                    <input type="button" value="+" onclick="addrefrence()">
                    <input type="button" value="-" onclick="deleterefrence()">
                    <div class="row">
                        <div class="col-md-4">
                            <label name="name" >Name</label>
                            <input name="ref_name" type="text" 
                            id="name1" class="form-control"/>
                            <p class="ref_val1"></p>
                        </div>
                        <div class="col-md-4">
                            <label name="contact number" >Contact Number</label>
                            <input name="contact_number" type="text" class="form-control" id="contact_no1"/>
                            <p class="ref_val1"></p>
                        </div>
                        <div class="col-md-4">
                            <label for="relation">Relation</label>
                            <input type="text" name="relation" class="form-control" id="relation1"/>
                            <p class="ref_val1"></p> 
                        </div>
                    </div>

               
                </div>
                </table>
            </fieldset>
        </div>
      </div>

     <!-- Preferences-->
     <div class="row">
        <div class="col">
            <fieldset>
                <legend>Prefrences</legend>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="prefred location" >Prefred Location</label>
                            <select name="prefred_location" id="prefred_location" class="form-control">
                            <option value="surat">Surat</option>
                            <option value="pune">Pune</option>
                            <option value="ahmedabad">Ahmedabad</option>
                            <option value="banglore ">Banglore</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="notice_period ">Notice Period </label>
                            <input type="text" name="notice_period" class="form-control" id="notice_period"/><p class="validate_of"></p>
                             <br>

                            <label for="expected ctc">Expected CTC</label>
                            <input type="text" name="expected_ctc" class="form-control" id="expected_ctc"/><p class="validate_of"></p>
                            
                            <br>
                            <label for="current ctc">Current CTC</label>
                            <input type="text" name="current_ctc" class="form-control" id="current_ctc"/> <p class="validate_of"></p>
                            
                            <br>
                        </div>
                        <div class="col-md-4">
                            <label for="department" >Department</label> 
                            <select name="department" id="department" class="form-control">
                            <option value="development">development</option>
                            <option value="design">Design</option>
                            <option value="marketing ">Marketing</option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
     </div>
      </div>

    </div>  
                    <center> <input type="submit" value="Submit"  class="btn btn-secondary btn-lg"> </center>
   </form>


  
         <!-- java script from here -->
            
                <script>

                    function addrow(){
                        var new_row=document.getElementById('company_dynamic');
                        var add_row=document.createElement('tr');
                        var new_table=`

                <div class="row"    >
                    <div class="col-md-3">
                        <label name="company_name" >Company Name</label>
                        <input name="company_name" type="text" class="form-control" />
                        <p class="experience_validation"></p>
                    </div>
                    <div class="col-md-3">
                        <label name="designation" >Designation</label>
                        <input name="designation" type="text" class="form-control"/>
                        <p class="experience_validation"></p>
                    </div>
                    <div class="col-md-3">
                        <label for="from">From</label>
                        <input type="text" name="from" class="form-control"/>
                        <p class="experience_validation"></p>
                    </div>
                    <div class="col-md-3">
                        <label for="to">To </label>
                        <input type="text"  name="to" class="form-control"/> 
                        <p class="experience_validation"></p>
                    </div>
                   </div>`
                 add_row.innerHTML=new_table;
                 new_row.appendChild(add_row);
                }


                function deleterow(){
                   var table=document.getElementById('company_dynamic');
                   var add_row=document.getElementsByTagName('tr');

                   if(add_row.length<=0 ){
                    return;
                   }
                   var tr=table.lastElementChild;
                   table.removeChild(tr);

                }

                function addrefrence(){
                    var new_row=document.getElementById('refrence_dynamic');
                        var add_row=document.createElement('tr');
                        var new_table=`
                        <div class="row">
                        <div class="col-md-4">
                            <label name="name" >Name</label>
                            <input name="ref_name" type="text" 
                            class="form-control"/>
                            <p class="ref_val1"></p>
                        </div>
                        <div class="col-md-4">
                            <label name="contact number" >Contact Number</label>
                            <input name="contact_number" type="text" class="form-control" />
                            <p class="ref_val1"></p>
                        </div>
                        <div class="col-md-4">
                            <label for="relation">Relation</label>
                            <input type="text" name="relation" class="form-control" />
                            <p class="ref_val1"></p> 
                        </div>
                    </div>`
                 add_row.innerHTML=new_table;
                 new_row.appendChild(add_row);


                }

                function deleterefrence(){
                    var table=document.getElementById('refrence_dynamic');
                   var add_row=document.getElementsByTagName('tr');

                   if(add_row.length<=0 ){
                    return;
                   }
                   var tr=table.lastElementChild;
                   table.removeChild(tr);

                }

                function datavalidation(){
                    var flag=0;

                  // for blank fields-------------------
                    var validate=['first_name','last_name','designation_basic','address_1','phone','city','notice_period','expected_ctc','current_ctc'];
                        var display=['First Name', 'Last Name','Designation','Address','Phone','City','Notice Period', 'Expected CTC','Current CTC'];
                        // console.log(validate.length);
                    
                    for(var i=0;i<validate.length;i++){
                        // console.log(validate);
                         str=document.getElementById(validate[i]);
                        //  console.log(str);
                         if(str.value.trim()=='' || str.value.trim()==null){
                            document.getElementsByClassName('validate_of')[i].innerHTML= display[i]+" cannot be blank";
                           flag=1
                        }                           
                        else{ 
                            document.getElementsByClassName('validate_of')[i].innerHTML="";
                            
                        }
                    }


                  // Phone Validation-------------------
                               var p=document.getElementById('phone').value;
                               var phoneno = /^\d{10}$/;
                               console.log('sdsdvsd',p);
                               if((!p.match(phoneno))) {
                                    document.getElementById('phone_validation').innerHTML= 'Please enter the Phone no in 10 digit';
                                    flag=1;
                                 }
                                 else if((p.match(phoneno))) {
                                    document.getElementById('phone_validation').innerHTML= '';
                                 }






                 // email validation----------------------------
                 var em=document.getElementById('email').value;
                     var validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
                    if (!em.match(validRegex)) {
                         document.getElementById('email_validation').innerHTML= 'Please enter the email in proper format';
                         flag=1;
                    }
                     else{
                        document.getElementById('email_validation').innerHTML= '';
                    }

                 // Zip Validation------------------
                 var zip=document.getElementById('zip_code').value;
                        // console.log(zip)
                        regexp = /^\d{6}$/;
                        if (!zip.match(regexp)) {
                        document.getElementById('zip_validation').innerHTML= 'Please enter the Zip Code in 6 digit';
                            flag=1;
                    }
                    else if(zip.match(regexp)) {
                        document.getElementById('zip_validation').innerHTML= '';
                    }
                 
                 // DOB Validation----------------------
                 var dob_validate=document.getElementById('dob').value;
                    var dateformat = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;
                    if (!dob_validate.match(dateformat)) {
                    document.getElementById('validate_dob').innerHTML= 'Please enter the Date of birth in dd/mm/yyyy or dd-mm-yyyy format';
                        flag=1;
                 }
                 else if(dob_validate.match(dateformat)) {
                    document.getElementById('validate_dob').innerHTML= '';
                 }


    // Education Details validation-------------------
                 let ssc=['board_name_ssc','passing_year_ssc','percentage_ssc'];
       let hsc=['board_name_hsc','passing_year_hsc','percentage_hsc'];
       let bc=['board_name_bc','passing_year_bc','percentage_bc'];
       let ms=['board_name_ms','passing_year_ms','percentage_ms'];


       for(let i=0; i<ssc.length;i++){
        if(document.getElementById(ssc[i]).value!==''){
            for(let j=0;j<ssc.length;j++){
                if(document.getElementById(ssc[j]).value=='' ||document.getElementById(ssc[j]).value== null ){
                   
                    document.getElementsByClassName('ssc')[j].innerHTML='Required Field';
                    flag=1;
                }
                // if(ssc[j]=='passing_year_ssc' || ssc[j]=='passing_year_ssc') {
                //     var edu_no=document.getElementById(ssc[j]).value;
                //     if (!isNaN(edu_no)){
                //     document.getElementsByClassName('eduno_validation')[i].innerHTML= 'Enter in proper format';
                //         }
                    
                //     flag=1;

                // }
                
               else{
                document.getElementsByClassName('ssc')[j].innerHTML='';
               }
            }
        }
       }



       for(let i=0; i<hsc.length;i++){
        if(document.getElementById(hsc[i]).value!==''){
            for(let j=0;j<hsc.length;j++){
                if(document.getElementById(hsc[j]).value=='' ||document.getElementById(hsc[j]).value== null ){
                    document.getElementsByClassName('hsc')[j].innerHTML='Required Field';
                    flag=1;
                }
                else{
                    document.getElementsByClassName('hsc')[j].innerHTML='';
               }
            }
        }
       }
    


       for(let i=0; i<bc.length;i++){
        if(document.getElementById(bc[i]).value!==''){
            for(let j=0;j<bc.length;j++){
                if(document.getElementById(bc[j]).value=='' ||document.getElementById(bc[j]).value== null ){
                    document.getElementsByClassName('bc')[j].innerHTML='Required Field';
                    flag=1;
                }
                else{
                    document.getElementsByClassName('bc')[j].innerHTML='';
               }
            }
        }
       }
    


       for(let i=0; i<ms.length;i++){
        if(document.getElementById(ms[i]).value!==''){
            for(let j=0;j<ms.length;j++){
                if(document.getElementById(ms[j]).value=='' ||document.getElementById(ms[j]).value== null ){
                    document.getElementsByClassName('ms')[j].innerHTML='Required Field';
                    flag=1;
                }
                else{
                    document.getElementsByClassName('ms')[j].innerHTML='';
               }
            }
        }
       }




    // Language Known-----------------------------------------

        let opt1=document.getElementById('hindil');
         if(opt1.checked){
            let read1=document.getElementById('read1');
            let write1=document.getElementById('write1');
            let speak1=document.getElementById('speak1');

            if(!read1.checked && !write1.checked && !speak1.checked){
                document.getElementById('language_check1').innerHTML=`Please select the option for Hindi`;
                flag=1;
            }
            else{
                document.getElementById('language_check1').innerHTML=``;

            }     
         }

         else if(read1.checked || write1.checked || speak1.checked){
            if(!opt1.checked){
                document.getElementById('language_check1').innerHTML=`Please select the  option for read,write,speak`;
                flag=1;
            }
            else{
                document.getElementById('language_check1').innerHTML=``;
            }     
         }
    


            let opt2=document.getElementById('engl');
            if(opt2.checked){
            let read2=document.getElementById('read2');
            let write2=document.getElementById('write2');
            let speak2=document.getElementById('speak2');

            if(!read2.checked && !write2.checked && !speak2.checked){
                document.getElementById('language_check2').innerHTML=`Please select the option for English`;
                flag=1;
            }              else{
                document.getElementById('language_check2').innerHTML=``;
            }  
         }

         else if(read2.checked || write2.checked || speak2.checked){
            if(!opt2.checked){
                document.getElementById('language_check2').innerHTML=`Please select the  option for read,write,speak`;
                flag=1;
            }
            else{
                document.getElementById('language_check2').innerHTML=``;
            }  
         }
        

            let opt3=document.getElementById('gujl');
             if(opt3.checked){
            let read3=document.getElementById('read3');
            let write3=document.getElementById('write3');
            let speak3=document.getElementById('speak3');

            if(!read3.checked && !write3.checked && !speak3.checked){
                document.getElementById('language_check3').innerHTML=`Please select the option for Gujarati`;
                flag=1;
            }
            else{
                document.getElementById('language_check3').innerHTML=``;
            }  
         }
         else if(read3.checked || write3.checked || speak3.checked){
            if(!opt3.checked){
                document.getElementById('language_check3').innerHTML=`Please select the  option for read,write,speak`;
                flag=1;
            }
            else{
                document.getElementById('language_check3').innerHTML=``;
            }  
        }

    
    // Technologies.


        let lan1=document.getElementById('php');
        if(lan1.checked){
            let beg1=document.getElementById('beginer1');
            let med1=document.getElementById('mediator1');
            let exp1=document.getElementById('expert1');
            if(!beg1.checked && !med1.checked && !exp1.checked){
                document.getElementById('tech1').innerHTML=`Please select the option for PHP`;
                flag=1;
            }
            else{
                document.getElementById('tech1').innerHTML=``;
        }

         let radio1=document.forms['myform']['tech1'].value;
         console.log(radio1);
         if(radio1!=''){
            if(!lan1.checked){
                document.getElementById('tech1').innerHTML=`Please select the Technology option for this field`;
                flag=1;
            }
            else{
                document.getElementById('tech1').innerHTML=``;
            } 
         }


    }

        let lan2=document.getElementById('mysql');
        if(lan2.checked){
            let beg2=document.getElementById('beginer2');
            let med2=document.getElementById('mediator2');
            let exp2=document.getElementById('expert2');
            if(!beg2.checked && !med2.checked && !exp2.checked){
                document.getElementById('tech2').innerHTML=`Please select the option for MYSQL`;
                flag=1;
            }
            else{
                document.getElementById('tech2').innerHTML=``;
            } 
        }

        let radio2=document.forms['myform']['tech2'].value;
        //  console.log(radio2);
         if(radio2!=''){
            if(!lan2.checked){
                document.getElementById('tech2').innerHTML=`Please select the Technology option for this field`;
                flag=1;
            }
            else{
                document.getElementById('tech2').innerHTML=``;
            } 
         }
    


        let lan3=document.getElementById('laravel');
        if(lan3.checked){
            let beg3=document.getElementById('beginer3');
            let med3=document.getElementById('mediator3');
            let exp3=document.getElementById('expert3');
            if(!beg3.checked && !med3.checked && !exp3.checked){
                document.getElementById('tech3').innerHTML=`Please select the option for Laravel`;
                flag=1;
            }
            else{
                document.getElementById('tech3').innerHTML=``;
            }
        }
        

        let radio3=document.forms['myform']['tech3'].value;
        //  console.log(radio2);
         if(radio3!=''){
            if(!lan3.checked){
                document.getElementById('tech3').innerHTML=`Please select the Technology option for this field`;
                flag=1;
            }
            else{
                document.getElementById('tech3').innerHTML=``;

            } 
         }
    


        let lan4=document.getElementById('oracle');
        if(lan4.checked){
            let beg4=document.getElementById('beginer4');
            let med4=document.getElementById('mediator4');
            let exp4=document.getElementById('expert4');
            if(!beg4.checked && !med4.checked && !exp4.checked){
                document.getElementById('tech4').innerHTML=`Please select the option for Oracle`;
                flag=1;
            }
            else{
                document.getElementById('tech4').innerHTML=``;

            } 
        }


        let radio4=document.forms['myform']['tech4'].value;
        //  console.log(radio2);
         if(radio4!=''){
            if(!lan4.checked){
                document.getElementById('tech4').innerHTML=`Please select the Technology option for this field`;
                flag=1;
            }
            else{
                document.getElementById('tech4').innerHTML=``;

            } 
         }
    



            
                    if(flag==1){
                        return false;
                    }


                    // return true;
                    }







































































                    // var remove=0;
                    // var flag=0;
                    // function  datavalidation(){
                    //        let err=[];
                    //         err.push(blank_validation());
                        //     err.push(phone_validate());
                        //     err.push(validate_email());
                        //     err.push(zip_validation());
                        //    err.push(dob_validate());  
                        //    err.push(gender());      
                        //    err.push(ssc_validation());
                        //    err.push(hsc_validation());
                        //    err.push(bc_validation());
                        //    err.push(ms_validation());
                        //    err.push(experience1()); 
                        //    err.push(experience2()); 
                        //    err.push(language_checkbox1());
                        //    err.push(language_checkbox2());
                        //    err.push(language_checkbox3());
                        //     err.push(tech1());
                        //     err.push(tech2());
                        //     err.push(tech3());
                        //     err.push(tech4());
                        //    err.push(ref1_validation());
                        //    err.push(ref2_validation());
                        //    err.push(ref3_validation());

                //         blank_validation();
 



                //             if (flag==1){
                //                 return false;
                //             }
                //             else{
                //             return true;}
                //         }


                //     function blank_validation(){
                //         var validate=['first_name','last_name','designation_basic','address_1','phone','city','notice_period','expected_ctc','current_ctc'];
                //         var display=['First Name', 'Last Name','Designation','Address','Phone','City','Notice Period', 'Expected CTC','Current CTC'];
                //         // console.log(validate.length);
                    
                //     for(var i=0;i<validate.length;i++){
                //         // console.log(validate);
                //          str=document.getElementById(validate[i]);
                //         //  console.log(str);
                //          if(str.value.trim()=='' || str.value.trim()==null){
                //             document.getElementsByClassName('validate_of')[i].innerHTML= display[i]+" cannot be blank";
                //             return false;
                //         }                           
                //         // else{ 
                //         //     document.getElementsByClassName('validate_of')[i].innerHTML="";
                //         //     return true;
                //         // }
                //     }
                //     // return true;
                //     }

                    
                //     function phone_validate(){
                //         // console.log('function is calling')
                //                var p=document.getElementById('phone').value;
                //                var phoneno = /^\d{10}$/;
                //                console.log('sdsdvsd',p);
                //                if((!p.match(phoneno))) {
                //                     document.getElementById('phone_validation').innerHTML= 'Please enter the Phone no in 10 digit';
                //                     flag=1;
                //                  }
                //                  else if((p.match(phoneno))) {
                //                     document.getElementById('phone_validation').innerHTML= '';
                //                     flag=0;
                //                  }
                //                 }


                //     function validate_email(){
                //                 var em=document.getElementById('email').value;
                //                 // console.log(em);
                //                 var validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
                //                  if (!em.match(validRegex)) {
                //                     document.getElementById('email_validation').innerHTML= 'Please enter the email in proper format';
                //                     flag=1;
                //                 }
                //                 else{
                //                     flag=0;
                //                 }
                //             }

                // function zip_validation(){
                //         var zip=document.getElementById('zip_code').value;
                //         // console.log(zip)
                //         regexp = /^\d{6}$/;
                //         if (!zip.match(regexp)) {
                //         document.getElementById('zip_validation').innerHTML= 'Please enter the Zip Code in 6 digit';
                //             flag=1;
                //     }
                //     else if(zip.match(regexp)) {
                //         document.getElementById('zip_validation').innerHTML= '';
                //         flag=0;
                        
                //     }}
                              
                // function dob_validate(){
                //     var dob_validate=document.getElementById('dob').value;
                //     var dateformat = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;
                //     if (!dob_validate.match(dateformat)) {
                //     document.getElementById('validate_dob').innerHTML= 'Please enter the Date of birth in dd/mm/yyyy or dd-mm-yyyy format';
                //         flag=1;
                //  }
                //  else if(dob_validate.match(dateformat)) {
                //     document.getElementById('validate_dob').innerHTML= '';
                //     flag=0;
                //  }
                // }   

                // function gender(){
                //         var chk=['gender'];
                //         let arr=document.getElementsByName('gender');
                        
                //     }
        
//---------------------Education Details---------------------------------------
   
// let ssc=['board_name_ssc','passing_year_ssc','percentage_ssc'];
//        let hsc=['board_name_hsc','passing_year_hsc','percentage_hsc'];
//        let bc=['board_name_bc','passing_year_bc','percentage_bc'];
//        let ms=['board_name_ms','passing_year_ms','percentage_ms'];

//     function ssc_validation(){
//        for(let i=0; i<ssc.length;i++){
//         if(document.getElementById(ssc[i]).value!==''){
//             for(let j=0;j<ssc.length;j++){
//                 if(document.getElementById(ssc[j]).value=='' ||document.getElementById(ssc[j]).value== null ){
                   
//                     document.getElementsByClassName('ssc')[j].innerHTML='Required Field';
//                     flag=1;
//                 }
//                else{
//                 flag=0;
//                }
//             }
//         }
//        }
//     }

//        function hsc_validation(){
//        for(let i=0; i<hsc.length;i++){
//         if(document.getElementById(hsc[i]).value!==''){
//             for(let j=0;j<hsc.length;j++){
//                 if(document.getElementById(hsc[j]).value=='' ||document.getElementById(hsc[j]).value== null ){
//                     document.getElementsByClassName('hsc')[j].innerHTML='Required Field';
//                     flag=1;
//                 }
//                 else{
//                 flag=0;
//                }
//             }
//         }
//        }
//     }

//     function bc_validation(){
//        for(let i=0; i<bc.length;i++){
//         if(document.getElementById(bc[i]).value!==''){
//             for(let j=0;j<bc.length;j++){
//                 if(document.getElementById(bc[j]).value=='' ||document.getElementById(bc[j]).value== null ){
//                     document.getElementsByClassName('bc')[j].innerHTML='Required Field';
//                     flag=1;
//                 }
//                 else{
//                 flag=0;
//                }
//             }
//         }
//        }
//     }


//     function ms_validation(){
//        for(let i=0; i<ms.length;i++){
//         if(document.getElementById(ms[i]).value!==''){
//             for(let j=0;j<ms.length;j++){
//                 if(document.getElementById(ms[j]).value=='' ||document.getElementById(ms[j]).value== null ){
//                     document.getElementsByClassName('ms')[j].innerHTML='Required Field';
//                     flag=1;
//                 }
//                 else{
//                 flag=0;
//                }
//             }
//         }
//        }
//     }  
    
    // function education_number(){
    //     var education_no=['passing_year_ssc','percentage_ssc','passing_year_hsc','percentage_hsc','passing_year_bc','percentage_bc','passing_year_ms','percentage_ms'];

    //     for(let i=0;i<education_no.length;i++){
    //         if(education_no[i]=='passing_year_ssc' || education_no[i]=='percentage_ssc' || education_no[i]=='passing_year_hsc' || education_no[i]=='percentage_hsc' || education_no[i]=='passing_year_bc' || education_no[i]=='percentage_bc' || education_no[i]=='passing_year_ms' || education_no[i]=='percentage_ms' ){
            
    //             var edu_no=document.getElementById(education_no[i]).value;
                        
    //             if (!isNaN(edu_no)){
    //                 document.getElementsByClassName('eduno_validation')[i].innerHTML= 'Enter in proper format';
    //                     }
    //                 }
    //                 flag=1;
    //         }
    // }
        
 
    //-------------- Work Experience------------------------------------------------
        // let exp1=["company_name1","designation1","from1","to1"]
        // let exp2=["company_name2","designation2","from2","to2"]

        // function experience1(){
        //     for(let i=0;i<exp1.length;i++){
        //         if(document.getElementById(exp1[i]).value!==''){
        //     for(let j=0;j<exp1.length;j++){
        //         if(document.getElementById(exp1[j]).value=='' ||document.getElementById(exp1[j]).value== null ){
        //             document.getElementsByClassName('experience_validation')[j].innerHTML='Required Field';
        //             flag=1;
        //         }
        //         else{
        //             flag=0;
        //         }
        //     }
        // }
        //     }

        // }


        // function experience2(){
        //     for(let i=0;i<exp2.length;i++){
        //         if(document.getElementById(exp2[i]).value!==''){
        //     for(let j=0;j<exp2.length;j++){
        //         if(document.getElementById(exp2[j]).value=='' ||document.getElementById(exp2[j]).value== null ){
        //             document.getElementsByClassName('experience_validation1')[j].innerHTML='Required Field';
        //             flag=1;
        //         }
        //         else{
        //             flag=0;
        //         }
        //     }
        // }
        //     }

        // }




    
    //-------------Language Known------------------------------------------ 
    //    function language_checkbox1(){
    //     let opt1=document.getElementById('hindil');
    //      if(opt1.checked){
    //         let read1=document.getElementById('read1');
    //         let write1=document.getElementById('write1');
    //         let speak1=document.getElementById('speak1');

    //         if(!read1.checked && !write1.checked && !speak1.checked){
    //             document.getElementById('language_check1').innerHTML=`Please select the option for Hindi`;
    //             flag=1;
    //         }
    //         else{
    //             flag=0;
    //         }     
    //      }

    //      else if(read1.checked || write1.checked || speak1.checked){
    //         if(!opt1.checked){
    //             document.getElementById('language_check1').innerHTML=`Please select the  option for read,write,speak`;
    //             flag=1;
    //         }
    //         else{
    //             flag=0;
    //         }     
    //      }
    // }

    //     function language_checkbox2(){
    //         let opt2=document.getElementById('engl');
    //         if(opt2.checked){
    //         let read2=document.getElementById('read2');
    //         let write2=document.getElementById('write2');
    //         let speak2=document.getElementById('speak2');

    //         if(!read2.checked && !write2.checked && !speak2.checked){
    //             document.getElementById('language_check2').innerHTML=`Please select the option for English`;
    //             flag=1;
    //         }              else{
    //             flag=0;
    //         }  
    //      }

    //      else if(read2.checked || write2.checked || speak2.checked){
    //         if(!opt2.checked){
    //             document.getElementById('language_check2').innerHTML=`Please select the  option for read,write,speak`;
    //             flag=1;
    //         }
    //         else{
    //             flag=0;
    //         }  
    //      }
    //     }

    //     function language_checkbox3(){
    //         let opt3=document.getElementById('gujl');
    //          if(opt3.checked){
    //         let read3=document.getElementById('read3');
    //         let write3=document.getElementById('write3');
    //         let speak3=document.getElementById('speak3');

    //         if(!read3.checked && !write3.checked && !speak3.checked){
    //             document.getElementById('language_check3').innerHTML=`Please select the option for Gujarati`;
    //             flag=1;
    //         }
    //         else{
    //             flag=0;
    //         }  
    //      }
    //      else if(read3.checked || write3.checked || speak3.checked){
    //         if(!opt3.checked){
    //             document.getElementById('language_check3').innerHTML=`Please select the  option for read,write,speak`;
    //             flag=1;
    //         }
    //         else{
    //             flag=0;
    //         }  
    //      }
       
    //     }

    //---------------Technologies-----------------------------
    // function tech1(){
    //     let lan1=document.getElementById('php');
    //     if(lan1.checked){
    //         let beg1=document.getElementById('beginer1');
    //         let med1=document.getElementById('mediator1');
    //         let exp1=document.getElementById('expert1');
    //         if(!beg1.checked && !med1.checked && !exp1.checked){
    //             document.getElementById('tech1').innerHTML=`Please select the option for PHP`;
    //             flag=1;
    //         }
    //         else{
    //             flag=0;
    //         } 
    //     }

    //      let radio1=document.forms['myform']['tech1'].value;
    //      console.log(radio1);
    //      if(radio1!=''){
    //         if(!lan1.checked){
    //             document.getElementById('tech1').innerHTML=`Please select the Technology option for this field`;
    //             flag=1;
    //         }
    //         else{
    //             flag=0;
    //         } 
    //      }

    //     // else if(beg1.checked || med1.checked || exp1.checked){
    //     //     if(!lan1.checked){
    //     //         document.getElementById('tech1').innerHTML=`Please select the  option Technology option for this field`;
    //     //         return false;
    //     //     }
    //     //  }
    // }

    // function tech2(){
    //     let lan2=document.getElementById('mysql');
    //     if(lan2.checked){
    //         let beg2=document.getElementById('beginer2');
    //         let med2=document.getElementById('mediator2');
    //         let exp2=document.getElementById('expert2');
    //         if(!beg2.checked && !med2.checked && !exp2.checked){
    //             document.getElementById('tech2').innerHTML=`Please select the option for MYSQL`;
    //             flag=1;
    //         }
    //         else{
    //             flag=0;
    //         } 
    //     }

    //     let radio2=document.forms['myform']['tech2'].value;
    //     //  console.log(radio2);
    //      if(radio2!=''){
    //         if(!lan2.checked){
    //             document.getElementById('tech2').innerHTML=`Please select the Technology option for this field`;
    //             flag=1;
    //         }
    //         else{
    //             flag=0;
    //         } 
    //      }
    // }

    // function tech3(){
    //     let lan3=document.getElementById('laravel');
    //     if(lan3.checked){
    //         let beg3=document.getElementById('beginer3');
    //         let med3=document.getElementById('mediator3');
    //         let exp3=document.getElementById('expert3');
    //         if(!beg3.checked && !med3.checked && !exp3.checked){
    //             document.getElementById('tech3').innerHTML=`Please select the option for Laravel`;
    //             flag=1;
    //         }
    //         else{
    //             flag=0;
    //         } 
    //     }
        

    //     let radio3=document.forms['myform']['tech3'].value;
    //     //  console.log(radio2);
    //      if(radio3!=''){
    //         if(!lan3.checked){
    //             document.getElementById('tech3').innerHTML=`Please select the Technology option for this field`;
    //             flag=1;
    //         }
    //         else{
    //             flag=0;
    //         } 
    //      }
    // }

    // function tech4(){
    //     let lan4=document.getElementById('oracle');
    //     if(lan4.checked){
    //         let beg4=document.getElementById('beginer4');
    //         let med4=document.getElementById('mediator4');
    //         let exp4=document.getElementById('expert4');
    //         if(!beg4.checked && !med4.checked && !exp4.checked){
    //             document.getElementById('tech4').innerHTML=`Please select the option for Oracle`;
    //             flag=1;
    //         }
    //         else{
    //             flag=0;
    //         } 
    //     }


    //     let radio4=document.forms['myform']['tech4'].value;
    //     //  console.log(radio2);
    //      if(radio4!=''){
    //         if(!lan4.checked){
    //             document.getElementById('tech4').innerHTML=`Please select the Technology option for this field`;
    //             flag=1;
    //         }
    //         else{
    //             flag=0;
    //         } 
    //      }
    // }



    //----------------- Refrence--------------------------------------

    // let ref1=['name1','contact_no1','relation1'];
    // let ref2=['name2','contact_no2','relation2'];
    // let ref3=['name3','contact_no3','relation3'];

    //     function ref1_validation(){
    //    for(let i=0; i<ref1.length;i++){
    //     if(document.getElementById(ref1[i]).value!==''){
    //         for(let j=0;j<ref1.length;j++){
    //             if(document.getElementById(ref1[j]).value=='' ||document.getElementById(ref1[j]).value== null ){
    //                 document.getElementsByClassName('ref_val1')[j].innerHTML='Required Field';
    //                 flag=1;
    //             }
    //             else{
    //                                 flag=0;
    //                             }
    //         }
    //     }
    //    }
    // }

    // function ref2_validation(){
    //    for(let i=0; i<ref2.length;i++){
    //     if(document.getElementById(ref2[i]).value!==''){
    //         for(let j=0;j<ref2.length;j++){
    //             if(document.getElementById(ref2[j]).value=='' ||document.getElementById(ref2[j]).value== null ){
    //                 document.getElementsByClassName('ref_val2')[j].innerHTML='Required Field';
    //                 flag=1;
    //             }
    //             else{
    //                                 flag=0;
    //                             }
    //         }
    //     }
    //    }
    // }

    // function ref3_validation(){
    //    for(let i=0; i<ref3.length;i++){
    //     if(document.getElementById(ref3[i]).value!==''){
    //         for(let j=0;j<ref3.length;j++){
    //             if(document.getElementById(ref3[j]).value=='' ||document.getElementById(ref3[j]).value== null ){
    //                 document.getElementsByClassName('ref_val3')[j].innerHTML='Required Field';
    //                 flag=1;
    //             }
    //             else{
    //                                 flag=0;
    //                             }
    //         }
    //     }
    //    }
    // }

    //----------------Prefrences---------------------------------

            // function prefrences_validation(){
            //             var pref_validate=['notice_period','expected_ctc','current_ctc'];
            //             var display_validate=['Notice Period', 'Expected CTC','Current CTC'];
            //             // console.log('SDCFSD',pref_validate);
            //             for(var i=0;i<pref_validate.length;i++){
            //             console.log('ASD',pref_validate.length);
                        
            //              str1=document.getElementById(pref_validate[i]);
            //              console.log(str1);
            //              if(str1.value.trim()=='' || str1.value.trim==null){
            //                 document.getElementsByClassName('perf_validation')[i].innerHTML= display_validate[i]+" cannot be blank";
            //                 // return false;
            //                 flag=1;
            //                 console.log(flag);
            //             }                           
            //             else{ 
            //                 flag=0;
            //                 document.getElementsByClassName('perf_validation')[i].innerHTML= "";
            //                 console.log('0',flag);
            //             }
            //         }
            //         // return true;
            //         }

                    // function blank_validation(){
                    //     var validate=['first_name','last_name','designation_basic','address_1','phone','city'];
                    //     var display=['First Name', 'Last Name','Designation','Address','Phone','City'];
                    //     // console.log(validate.length);
                    
                    // for(var i=0;i<validate.length;i++){
                    //     // console.log(validate);
                    //      str=document.getElementById(validate[i]);
                    //     //  console.log(str);
                    //      if(str.value.trim()=='' || str.value.trim()==null){
                    //         document.getElementsByClassName('validate_of')[i].innerHTML= display[i]+" cannot be blank";
                    //         flag=1;
                    //     }                           
                    //     else{ 
                    //         document.getElementsByClassName('validate_of')[i].innerHTML="";
                    //         flag=0;
                    //     }
                    // }
                    // // return true;
                    // }





    

       

                       

                    //    function percentage(){
                    //     var percentage_validate=['percentage','percentage_bc','percentage_hsc']

                    //     for(let i=0;i<percentage_validate.length;i++){
                    //     if(percentage_validate[i]=='percentage' || percentage_validate[i]=='percentage_bc' ||percentage_validate[i]=='percentage_hsc' ){
                            
                    //         var percentage_v=document.getElementById(percentage_validate[i]).value;
                        
                    //     if (!isNaN(percentage_v)){
                    //                 document.getElementsByClassName('percentage_validation')[i].innerHTML= 'Enter the percentage';
                    //             }
                    //             flag=1;
                    //         }
                    //     }
                    //    }
                    
                //        function name_not_null(){
                //        var name_arr=['first_name','last_name'];
                //        var display_name=['First Name', 'Last Name'];
                //         for(var i=0; i<name_arr.length;i++){
                //        if(name_arr[i]== 'first_name'|| name_arr[i]=='last_name'){
                //                 var name_number=document.getElementById(name_arr[i]).value;
                //                 if(!isNaN(name_number)){
                //                     document.getElementsByClassName('not_number')[i].innerHTML= 'Enter '+display_name[i]+' in proper way';
                //                 }
                //                 flag=1;
                //             }
                //         }
                // }


                  
                  
                </script>


</body> 
</html>

