<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HireX</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
body{
    padding: 0%;
    margin: 0%;
    background-color: #F9F7EE;
}

.section{
    max-width: 1500px;
    margin: 0 auto;
}

.header{
    display: flex;
    width: 100%;
    padding-top: 0.5%;
    padding-bottom: 2%;    
}
.right ul li{
    display: inline;
}
.right{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.header-list li button{
    background-color: black;
    color: white;
    padding: 7px;
    border: 2px solid black;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    cursor: pointer;
}

.header-list li{
    padding-left: 45px;
}
.header-list li a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
.header-list{
    padding-right: 80px;
}

.left img {
padding-top: 24px;
}

/* section 1 */

.row1{
    display: flex;
    padding-top: 2.5%;
    padding-bottom: 3%;
}

.col1-1{
    display: flex;
}

.col1{
    width: calc(100%/2);    
}

.col1-side{
    position: relative;
}
.col1-1 p{
font-size: 17px;
  font-weight: bold;
}

.col1-1 img{
height: 38px;
  padding-top: 15px;
  padding-left: 6px;
}

.col1-2 h1{
    font-size: 64px;
    max-width: 75%;
    font-family:sans-serif;
    font-weight: bold;
}

.col1-2 p{
    font-size: 21px;
    max-width: 70%;
    font-weight: bold;
}

.col1-3 button{
    margin-left: -4px;
  background-color: #FFBB38;
  font-weight: bold;
  padding: 8px;
  color: #000;
  border: 1px solid black;
  box-shadow: 3px 4px;
  cursor: pointer;
}

.col1-3 input{
    padding: 8px;
  border: 1px solid black;
  width: 256px;
  box-shadow: 3px 4px;
}
.col1-5 {
    background-color: #FC7F3A;
    border-radius: 50%;
    width: 209px;
    height: 216px;
    position: absolute;
    left: 466px;
    padding: 23px;
    margin-top: 16px;
    z-index: 1;
    top: 3px;
  }
  
  
  .col1-5 img {
    left: 81px;
    position: absolute;
    top: 11px;
  }
  
  .col1-5 h2 {
    max-width: 50%;
    position: absolute;
    left: 59px;
    top: 73px;
    font-weight: bold;
    line-height: 35px;
    font-size: 33px;
  }
  
  .col1-6 {
    background-color: #FFBB38;
    width: 199px;
    position: absolute;
    left: 348px;
    top: 165px;
    height: 191px;
    border-bottom-right-radius: 108px;
    border-top-right-radius: 104px;
  }
  
  .col1-6 img {
    position: absolute;
    top: 12px;
    left: 15px;
  }
  
  .col1-6 h2 {
    top: 76px;
    position: absolute;
    width: 69%;
    left: 50px;
  }
  
  .col1-7 {
    background-color: #389B48;
    width: 193px;
    height: 188px;
    position: absolute;
    top: 317px;
    left: 207px;
  }
  
  .col1-7 img {
    position: absolute;
    top: 85px;
    left: 87px;
  }
  
  .col1-7 h2 {
    width: 60%;
    color: white;
    font-weight: bolder;
    position: absolute;
    left: 20px;
    font-size: 28px;
    top: -12px;
  }
  
  .col1-8 img {
    position: absolute;
    top: 356px;
    left: 433px;
  }

.col1-4 p{
    background-color: rgba(247,168,0,0.192);
  padding: 6px;
  position: relative;
  width: 31% !important;
  height: 30px !important;
  margin-top: 38px;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.col1-4 p:after {
    content: '';

    position: absolute;
    top: -12px;
    left: 12%;
    margin-left: 56px;
    width: 0;
    height: 0;
    border-bottom: solid 12px  rgba(247,168,0,0.192);
    border-left: solid 13px transparent;
    border-right: solid 12px transparent;
}


/* section 2 */
.section2-color{
    background-color: #000;
}
.col2{
    display: flex;
    padding: 5px;
}
 
.row2{
        display: flex;
        max-height: 85px;

}
.col2 p{
    color: white;
    min-width: 65%;
    font-weight: bolder;
    font-size: 21px;
    padding-left: 39px;
    padding-right: 23px;
    margin-top: 22px;
}

.col2-img2{
max-width: 1%;
  max-height: 87%;
  padding-top: 3%;
  margin-right: 18px;
}

.col2-img1{
    padding-right: 36px;
}

/* section 3 */
.row3{
    padding-top: 6%;
    padding-bottom: 4%;
    justify-content: center;
}
.col3{
    text-align: center;
}

#col3-button{
    margin-left: -4px;
    background-color: #FC7F3A;
    font-weight: bold;
    padding: 6px;
    color: white;
    border: 1px solid #FC7F3A;
    border-radius: 24px;
    width: 105px;
}

.col3 h2{
  font-size: 39px;
  font-weight: bold;
}

.col3 p{
    width: 60%;
  padding-left: 41%;
  font-size: 17px;
  margin-top: -12px;
  font-weight: bold;
}

/* section 4 */
.row4{
    display: flex;
    padding-top:3%;
    padding-bottom: 4%;

}
.row4-1{
    padding: 0 64px;
    text-align: center;
}

.col4{
    background-color: #EBE9DE;
    padding: 15px;
    min-width: 371px;
  min-height: 449px;
  min-height: 449px;
  border-radius: 10px;
}

.col4-1 p{
    font-weight: bold;
}

.col4-1 h3{
width: 72%;
  padding-left: 27%;
  font-size: 21px;
}

.col4-button1{
    margin-left: -4px;
    background-color: #389B48;
    font-weight: bold;
    padding: 10px;
    color: white;
    border: 1px solid black;
    border-radius: 6px;
    width: 141px;
    font-weight: bolder;
    box-shadow: black 2px 3px;
    cursor: pointer;
}

.col4-button2{
    margin-left: -4px;
    background-color: #FFBB38;
    font-weight: bold;
    padding: 10px;
    color: black;
    border: 1px solid black;
    border-radius: 6px;
    width: 141px;
    font-weight: bolder;
    box-shadow: black 2px 3px;
    cursor: pointer;
}


.col4-button3{
    margin-left: -4px;
    background-color: #FC7F3A;
    font-weight: bold;
    padding: 10px;
    color: black;
    border: 1px solid black;
    border-radius: 6px;
    width: 141px;
    font-weight: bolder;
    box-shadow: black 2px 3px;
    cursor: pointer;
}

  /* SECTION 5 */

.row5{
    padding-top: 3%;
    padding-bottom: 4%;
    text-align: center;
}

.col5-button{
    margin-left: 0px;
    background-color: #1496e3;
    padding: 7px;
    color: white;
    border: 1px solid #1496e3;
    border-radius: 21px;
    width: 89px;
    font-weight: bolder;
    cursor: pointer;
}

.col5 h2{
    font-size: 37px;
  font-weight: bold;
}

.col5 p{
    font-size: 16px;
  font-weight: bold;
  padding-left: 42%;
  max-width: 59%;
  margin-top: -18px;
}

/* section 6 */

.row6{
    padding-top: 3%;
    padding-bottom: 4%;
    display: flex;
     /* text-align: center; */
}
.col6{
    width: calc(100%/2);
}

.col6-button{
    padding-top: 15px;
}
.col6-button button{
    padding: 4px;
    background-color: #F9F7EE;
    border: 1px solid black;
    border-radius: 11px;
    width: 102px;
    font-weight: bold;   
    cursor: pointer; 
}

.col6-left{
    padding-left: 10px;
}

.col6-1 h3{
  font-size: 25px;
  font-weight: bold;
}

.col6-1 p{
    font-size: 18px;
    font-weight: bold;
    margin-top: -17px;
}

.col6-2 a{
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}

.col6-right-button{
   position: relative;
  top: 111px;
  left: 383px;
  cursor: pointer;
}

.col6-right-button button{
    margin-left: 0px;
    background-color: #FFC80A;
    padding: 7px;
    color: black;
    border-radius: 5px;
    width: 116px;
    font-weight: bolder;
    box-shadow: black 3px 4px;
    border: 1px solid black;
    cursor: pointer;
}

.col6-leftmove{
    padding-left: 205px;
}

/* section 7 */

.row7{
    padding-top: 3%;
    padding-bottom: 4%;
    text-align: center;
}

.col7 h2{
    font-size: 30px;
    font-weight: bold;
}
.col7 p{
    font-size: 17px;
    font-weight: bold;
    max-width: 60%;
    padding-left: 41%;
    margin-top: -20px;
}

/* section 8 */

.row8{
    padding-top: 3%;
    padding-bottom: 4%;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.col8{
    /* max-width: 328px; */
    min-height: 610px;
    background-color: #EBE9DE;
    border: 1px solid #EBE9DE;
    border-radius: 7px;
}
.col8-4 li{
    list-style-type: none;  
}

.row8-side{
    padding: 10px;
    width: calc(100%/2);
}

.col8-1 h2{
  font-size: 26px;
  font-weight: bold;
}

.col8-big{
    font-size: 75px;
    font-weight: bold;
}
.col8-3{
    border-top: 0.5px solid black;
    margin: 21px;
}

.col8-2 p{
  font-size: 23px;
  padding-left: 4%;
  padding-right: 4%;
  margin-top: -4px;
  color: grey;
  font-weight: bold;
}

.col8-4{
    padding-bottom: 15px;
}
.col8-4 li{
    text-align: left;
    padding: 18px;
    font-size: 31px;
    font-weight: bold;
    font-size: 20px;
}

.col8-5{
     padding-bottom: 30px;
}
#col8-button1{
    margin-left: 0px;
    background-color: #FFC80A;
    padding: 11px;
    color: black;
    border-radius: 5px;
    width: 294px;
    font-weight: bolder;
    border: 1px solid #ffca0ac7;
    font-size: 20px;
    cursor: pointer;
}

#col8-button2{
    margin-left: 0px;
    background-color: #fc7e3ad2;
    padding: 11px;
    color: black;
    border-radius: 5px;
    width: 294px;
    font-weight: bolder;
    border: 1px solid #FC7F3A;
    font-size: 20px;
    cursor: pointer;
}

#col8-button3{
    margin-left: 0px;
    background-color: #389b48e0;
    padding: 11px;
    color:white;
    border-radius: 5px;
    width: 294px;
    font-weight: bolder;
    border: 1px solid #389B48;
    font-size: 20px;
    cursor: pointer;
}

/* .side1{
    padding-right: 192px;
} */
/* .side3{
    padding-left: 192px;
} */

.col8:hover{
    background-color: black;
    position: relative;
    top: -50px;
    color: white;
}

.col8:hover .col8-2 p{
    color: white;
}

.col8:hover .col8-3{
    border-top: 0.5px solid white;
    margin: 15px;
}

.col8:hover #col8-button1 {
    box-shadow: white 4px 4px;
    background-color: #ffca0a;
    opacity: 1;
    cursor: pointer;
}

.col8:hover #col8-button2 {
    box-shadow: white 4px 4px;
    background-color: #FC7F3A;
    opacity: 1;
    cursor: pointer;
}

.col8:hover #col8-button3 {
    box-shadow: white 4px 4px;
    background-color: #389B48;
    opacity: 1;
    cursor: pointer;
}


/* section 9 */
.section9-bgcolor{
    background-color: #64E379;
    max-height: 630px;
}

.row9{
    padding-top: 4%;
  padding-bottom: 1%;
  padding: 41px;
  padding-left: 70px;
  padding-right: 252px;

}

.card9-1{
    display: flex;
}

.card9-2{
    display: flex;
}

.card9-3{
    display: flex;
}

#sect9-nextarr  { 
    position: relative;
    top: -346px;
    left: 1475px;
}
#sect9-prevarr{
    position: relative;
    top: 285px;
}

.sect9-twopart{
    width: calc(100%/2);
}

.col9-2{
margin: 0 auto;
  text-align: center;
  padding-top: 13%;
}

.col9-1{
    padding-left: 53px;
}

.col9-1-1 img{
border-top-left-radius: 45%;
  border-top-right-radius: 45%;
  border: 2px solid black;
}

.col9-1-2 p{
position: relative;
  top: -38px;
  left: 17%;
  background-color: #FFBB38;
  width: 155px;
  padding: 4px;
  border: 1px solid black;
  border-radius: 16px;
  text-align: center;
}


.col9-1-2 img{
background-color: #64E379;
  border: 1px solid black;
  border-radius: 50%;
  width: 19px;
  height: 20px;
  padding: 3px;
  box-shadow: black 2px 3px;
  position: relative;
  top: -81px;
  left: 217px;
}

/* section 10 */
.row10{
    padding-top: 4.5%;
    padding-bottom: 4%;
}

.col10flex{
    display: flex;
}
.coll10-1{
    width: calc(100%/2);
}

.col11 button{
margin-left: 0px;
  background-color: #FC6868;
  padding: 5px;
  color: white;
  border-radius: 23px;
  width: 112px;
  font-weight: bolder;
  border: 1px solid #FC6868;
  font-size: 18px;
  cursor: pointer;
}

.col11 h2{
    font-weight: bolder;
}

.col10-1-2 button{
  background-color: #F9F7EE;
  padding: 3px;
  color: black;
  border-radius: 23px;
  width: 98px;
  font-weight: bolder;
  border: 1px solid black;
  font-size: 13px;
  margin-top: 10px;
  cursor: pointer;
}

.col10-1-2{
    padding-left: 20px;
}
.col10-1-2 h2, 
.col10-1-2 p{
font-weight: bolder;
}

.col10-1-2  a{
color: black;
  text-decoration: none;
  border-bottom: 0.5px solid black;
}

/* section 11 */

.sect11-bg{
    background-color: #FFBB38;
}

.row11{
    padding-top: 2.5%;
    padding-bottom: 4%;
}

.col11-1{
    display: flex;
}
.col11-1-1{
    width: calc(100%/2);

}
.col11-1-under p{
    border-bottom: 1px solid black;
}

.col11-1-under{
padding-right: 178px;
}

.col11-1-under p img{
position: relative;
  left: 81%;
}

.col1-2-1 p{
width: 71%;
}

.col1-2-1 button{
background-color: #FFBB38;
  padding: 3px;
    padding-left: 3px;
  color: black;
  border-radius: 23px;
  width: 98px;
  font-weight: bolder;
  border: 1px solid black;
  font-size: 13px;
  margin-top: 2px;
  padding-left: 7px;
  cursor: pointer;
}

/* section 12 */

.col12{
    display: flex;
    padding: 5px;
}
 
.row12{
        display: flex;
        max-height: 85px;

}
.col12 p{
    color: white;
    width: 100%;
    font-weight: bolder;
    font-size: 20px;
    padding-left: 17px;
    padding-right: 0px;
    margin-top: 27px;
}

.col12-img2{
    transform: rotate(90deg);
    margin-top: 9px;
    max-width: 1%;
    max-height: 83%;
    padding-top: 4%;
    margin-right: 11px;
    margin-left: 7px;
}

.col12-img1{
    padding-right: 0px;
    height: 30px;
    margin-top: 24px;
    padding-left: 12px;
}


/* footer */

.footer{
    padding-top: 2%;
    padding-bottom: 2%;
}

.f2{
    border-bottom: 1px solid black;
}
.f3{
    display: flex;
    padding-bottom: 29px;
}

.f3-1{
    width: calc(100%/4);
}
.f4{
    display: flex;
}

.f4-1side{

    text-align: right;
}

.f4-1{
    width: calc(100%/2);
}
.f4span{
    padding-left: 10px;
}

.f3-1-list li{
    list-style-type: none;
    line-height: 30px;
    font-weight: bolder;
    cursor: pointer;
}

.f3-1-heading h4{
    font-weight: bold;
}
    </style>
</head>
<body> 

    <!-- Header -->
    <div class="bg-color1">
        <header class="section header">
                    <div class="left">
                        <img src="/public/static/HireX_black.png" alt="">
                    </div>
                    <div class="right">
                        <ul class="header-list">
                            <li><a href="">Works</a></li>
                            <li><a href="">About us</a></li>
                            <li><a href="">Blogs</a></li>
                            <li><a href="">FAQs</a></li>
                            <li><a href="">Contact us</a></li>
                            <li><button>We're Hiring <img src="/public/static/arrow-right.png" alt=""></button></li>
                        </ul>
                    </div>
            </header>
    </div>

    <!-- section 1 -->

        <section class="section">
            <div class="row1">
                <div class="col1">
                    <div class="col1-1">
                        <p>WELCOME TO HIREX.</p>
                        <img src="/public/static/Star 1.png" alt="">
                    </div>
                    <div class="col1-2">
                        <h1>Award Winnig Digital Agency.</h1>
                        <p>Digital Agency offering unique solutions to create digital presence and increase your sales. </p>
                    </div>
                    <div class="col1-3">
                        <input type="text" name="" placeholder="Your email address" id="">
                        <button> Request access</button>
                    </div>
                    <div class="col1-4">
                        <p>Open account and get 5 boxes</p>
                    </div>
                </div>
                <div class="col1 col1-side">
                    <div class="col1-5">
                        <img src="/public/static/image 2 (Traced).png" alt="">
                        <h2>Web Design</h2>
                    </div>
                    <div class="col1-6">
                        <img src="/public/static/image 6 (Traced).png" alt="">
                        <h2>Social Media</h2>
                    </div>
                    <div class="col1-7">
                        <h2>UIX Design</h2>
                        <img src="/public/static/image 1 (Traced).png" alt="">
                    </div>
                    <div class="col1-8">
                        <img src="/public/static/Group 6.png" alt="">
                    </div>
                </div>
            </div>
        </section>



    <!-- SECTION 2 -->
 
    <div class="section2-color">
    <!-- <section class="section"> -->
                <marquee behavior="" direction="">
            <div class="row2">
                <div class="col2">
                    <p>GET ACCESS NOW!</p>
                    <img src="/public/static/image-fBLQvAFN1-transformed 1.png" alt="" class="col2-img1">
                    <img src="assets/Line 4.png" alt="" class="col2-img2">
                </div>

                <div class="col2">
                    <p>GET ACCESS NOW!</p>
                    <img src="/public/static/image-fBLQvAFN1-transformed 1.png" alt="" class="col2-img1">
                    <img src="assets/Line 4.png" alt="" class="col2-img2">
                </div>

                <div class="col2">
                    <p>GET ACCESS NOW!</p>
                    <img src="/public/static/image-fBLQvAFN1-transformed 1.png" alt="" class="col2-img1">
                    <img src="assets/Line 4.png" alt="" class="col2-img2">
                </div>

                <div class="col2">
                    <p>GET ACCESS NOW!</p>
                    <img src="/public/static/image-fBLQvAFN1-transformed 1.png" alt="" class="col2-img1">
                    <img src="assets/Line 4.png" alt="" class="col2-img2">
                </div>
            </div>
            </marquee>
        <!-- </section> -->
        </div>

    

    <!-- section 3 -->
    <section class="section">
        <div class="row3">
            <div class="col3">
                <button id="col3-button">Services</button>
                <h2>How Hirex. Work</h2>
                <p>The awesome people who makes all this possible</p>
            </div>
        </div>
    </section>
    
    <!-- section 4 -->
    <section class="section">
        <div class="row4">
            <div class="row4-1">
            <div class="col4">
                <div class="col4-1">
                    <p> START HERE</p>
                    <h3>Who we are & wat we do</h3>
                </div>
                <div class="col4-2">
                    <img src="/public/static/Designer _Flatline 1.png" alt="">
                </div>
                <div class="col4-3">
                    <button class="col4-button1">START HERE <img src="/public/static/arrow-right.svg" alt=""></button>
                </div>
            </div>
            </div>

            <div class="row4-1">
            <div class="col4">
                <div class="col4-1">
                    <p> START HERE</p>
                    <h3>We'II design your projeects</h3>
                </div>
                <div class="col4-2">
                    <img src="/public/static/Notifications_Flatline 1.png" alt="">
                </div>
                <div class="col4-3">
                    <button class="col4-button2">START HERE <img src="/public/static/arrow-right-black.svg" alt=""></button>
                </div>
            </div>
            </div>

            <div class="row4-1">
            <div class="col4">
                <div class="col4-1">
                    <p> START HERE</p>
                    <h3>Drop us your Message!</h3>
                </div>
                <div class="col4-2">
                    <img src="/public/static/Fortnite_Two Color 1.png" alt="">
                </div>
                <div class="col4-3">
                    <button class="col4-button3">START HERE <img src="/public/static/arrow-right-black.svg" alt=""></button>
                </div>
            </div>
        </div>
        </div>
    </section>


    <!-- SECTION 5 -->

    <section class="section">
        <div class="row5">
            <div class="col5">
                <button class="col5-button">Works</button>
                <h2>Find our latest Works</h2>
                <p>The awesome people who makes all this possible </p>
            </div>
        </div>
    </section>

    <!-- section 6 -->
    <section class="section">
        <div class="row6">
            <div class="col6">
              <div class="col6-leftmove">
                <div class="col6-img1"><img src="/public/static/Rectangle 13.png" alt=""></div>
                <div class="col6-left">
                <div class="col6-button">
                    <button>Web design</button>
                </div>
                <div class="col6-1">
                    <h3>Website Design For digital Agency</h3>
                    <p>Build a unique website with HireX Template</p>
                </div>
                <div class="col6-2">
                    <a href="">Read more <img src="/public/static/arrow-right-black.svg" alt=""></a>
                </div>
             </div>
            </div>
            </div>

            <div class="col6">
                <div class="col6-rightmove">
                <div class="col6-img1"><img src="/public/static/Rectangle 13-1.png" alt=""></div>
                <div class="col6-left">
                <div class="col6-button">
                    <button>3D Design</button>
                </div>
                <div class="col6-1">
                    <h3>Realistic 3d Model of Living Room</h3>
                    <p>Build a unique website with HireX Template</p>
                </div>
                <div class="col6-2">
                    <a href="">Read more <img src="/public/static/arrow-right-black.svg" alt=""></a>
                </div>
                <div class="col6-right-button">
                    <button>View ALL <img src="/public/static/arrow-right-black.svg" alt=""></button>
                </div>
            </div>
            </div>
            </div>
           </div>
    </section>

  <!-- section 7 -->
    <section class="section">
        <div class="row7">
            <div class="col7">
                <h2>
                    Plans & Pricing
                </h2>
                <p>
                    Ther awesome people who makes all this possible
                </p>
            </div>
        </div>
    </section>

    <!-- section 8 -->
    <section class="section">
        <div class="row8">
            <div class="row8-side side1">
            <div class="col8">
                <div class="col8-1">
                    <h2>FREE</h2>
                </div>
                <div class="col8-2">
                    <h2><span class="col8-big">$0</span>/MONTH</h2>
                    <p>Start free while you learn more about our services</p>
                </div>
                <div class="col8-3"></div>
                <div class="col8-4">
                    <li><span class="tickicon">&#10003;</span> Free forever get the basic essentials</li>
                    <li><span class="tickicon">&#10003;</span> Advanced security and performance</li>
                    <li><span class="tickicon">&#10003;</span> Unlimited unhosted sites</li>
                    <li><span class="tickicon">&#10003;</span> Live support</li>
                </div>
                <div class="col8-5">
                    <button id="col8-button1">GET STARTED</button>
                </div>
            </div>
            </div>


            <div class="row8-side side2">
            <div class="col8">
                <div class="col8-1">
                    <h2>BASIC</h2>
                </div>
                <div class="col8-2">
                    <h2><span class="col8-big">$19</span>/MONTH</h2>
                    <p>Get powerful tools to make your business grow</p>
                </div>
                <div class="col8-3"></div>
                <div class="col8-4">
                    <li><span class="tickicon">&#10003;</span> Free forever get the basic essentials</li>
                    <li><span class="tickicon">&#10003;</span> Advanced security and performance</li>
                    <li><span class="tickicon">&#10003;</span> Unlimited unhosted sites</li>
                    <li><span class="tickicon">&#10003;</span> Live support</li>
                </div>
                <div class="col8-5">
                    <button id="col8-button2">GET STARTED</button>
                </div>
            </div>
            </div>
            
            <div class="row8-side side3">
            <div class="col8">
                <div class="col8-1">
                    <h2>PRO</h2>
                </div>
                <div class="col8-2">
                    <h2><span class="col8-big">$09</span>/MONTH</h2>
                    <p>Take your business to the next level with your tools</p>
                </div>
                <div class="col8-3"></div>
                <div class="col8-4">
                    <li><span class="tickicon">&#10003;</span> Free forever get the basic essentials</li>
                    <li><span class="tickicon">&#10003;</span> Advanced security and performance</li>
                    <li><span class="tickicon">&#10003;</span> Unlimited unhosted sites</li>
                    <li><span class="tickicon">&#10003;</span> Live support</li>
                </div>
                <div class="col8-5">
                    <button id="col8-button3">GET STARTED</button>
                </div>
            </div>
            </div>
        </div>
    </section>
     

    <!-- section 9 -->
    <div class="section9-bgcolor">
        <section class="section">
            <img src="/public/static/arrow-left-2.png" alt="" onclick="prev('change_sc')" id="sect9-prevarr">
            <div class="row9" >
                <div class="col9" id="change_sc">
                    <div class="card9 card9-1" >
                        <div class="col9-1 sect9-twopart">
                           <div class="col9-1-1 ">
                            <img src="/public/static/testimonials-img.png" alt="">
                           </div>
                           <div class="col9-1-2 ">
                            <p>@mase.place </p>
                            <img src="/public/static/arrow_top-right.png" alt="">
                           </div>
                        </div>
                        <div class="col9-2 sect9-twopart">
                            <h3>" vvvvvvvvvvvLorem ipsum dolor sit amet consectetur adipisicing elit. Vero assumenda recusandae labore provident ab distinctio porro, odit expedita eligendi magni minus nisi! Dolores, ducimus nesciunt! Natus voluptatibus libero esse fuga? "</h3>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga cumque ex veniam quos, aspernatur consequuntur.</p>
                        </div>
                    </div>

                    <div class="card9 card9-2" style="display: none;">
                        <div class="col9-1 sect9-twopart">
                           <div class="col9-1-1">
                            <img src="/public/static/testimonials-img.png" alt="">
                           </div>
                           <div class="col9-1-2">
                            <p>@parth.place </p>
                            <img src="/public/static/arrow_top-right.png" alt="">
                           </div>
                        </div>
                        <div class="col9-2 sect9-twopart">
                            <h3>"pppppppp Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero assumenda recusandae labore provident ab distinctio porro, odit expedita eligendi magni minus nisi! Dolores, ducimus nesciunt! Natus voluptatibus libero esse fuga? "</h3>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga cumque ex veniam quos, aspernatur consequuntur.</p>
                        </div>
                    </div>

                    <div class="card9 card9-3" style="display: none;">
                        <div class="col9-1 sect9-twopart">
                           <div class="col9-1-1">
                            <img src="/public/static/testimonials-img.png" alt="">
                           </div>
                           <div class="col9-1-2">
                            <p>@.place </p>
                            <img src="/public/static/arrow_top-right.png" alt="">
                           </div>
                        </div>
                        <div class="col9-2 sect9-twopart">
                            <h3>" dgdfgdfgdLorem ipsum dolor sit amet consectetur adipisicing elit. Vero assumenda recusandae labore provident ab distinctio porro, odit expedita eligendi magni minus nisi! Dolores, ducimus nesciunt! Natus voluptatibus libero esse fuga? "</h3>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga cumque ex veniam quos, aspernatur consequuntur.</p>
                        </div>
                    </div>
                </div>
            </div>
            <img src="/public/static/arrow-right-2.png" alt="" onclick="next('change_sc')" id="sect9-nextarr">
        </section>
    </div>

    <!-- section 10 -->
    <section class="section">
        <div class="row10">
            <div class="col11">
                <button>Blog</button>
                <h2>Stay Updated</h2>
            </div>

            <div class="col10 col10flex">
                <div class="coll10-1">
                    <div class="col10-1-1">
                        <img src="/public/static/Rectangle 19.png" alt="">
                    </div>
                    <div class="col10-1-2">
                        <button>Web design</button>
                        <h2>
                            We Launch Minerva Template this Week!
                        </h2>
                        <p>
                            Build a unique Website with HireX Template
                        </p>
                        <a href="">Read more <img src="/public/static/arrow-right-black.svg" alt=""></a>
                    </div>
                </div>

                <div class="coll10-1">
                    <div class="col10-1-1">
                        <img src="/public/static/Rectangle 20.png" alt="">
                    </div>
                    <div class="col10-1-2">
                        <button>Web design</button>
                        <h2>
                            Introducing the Non-Code Webflow Guide  
                        </h2>
                        <p>
                            Build a unique Website with HireX Template
                        </p>
                        <a href="">Read more <img src="/public/static/arrow-right-black.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- section 11 -->
    <div class="sect11-bg">
    <section class="section">
        <div class="row11">
            <div class="col11">
                <h2>Get our latests news & updates</h2>
            </div>
            <div class="col11-1">
                <div class="col11-1-1 col11-1-under">
                    <p>NAME</p>
                    <p>EMAIL</p>
                    <p>SUBSCRIBE <img src="/public/static/arrow-right-black.png" alt=""></p>
                </div>
                <div class="col11-1-1">
                    <div class="col1-2-1">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, rem excepturi quaerat omnis obcaecati sequi maiores debitis in non! Necessitatibus.</p>
                        <button>Book a Call</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>

    <!-- section 12 -->
     <div class="section2-color">
    <!-- <section class="section"> -->
                <marquee behavior="" direction="">
            <div class="row12">
                <div class="col12">
                    <p>THANK YOU FOR YOUR VISIT </p>
                    <img src="assets/Line 4.png" alt="" class="col12-img2">
                </div>

                <div class="col12">
                    <p>THANK YOU FOR YOUR VISIT</p>
                    <img src="/public/static/Group 59.png" alt="" class="col12-img1">

                </div>

                <div class="col12">
                    <p>THANK YOU FOR YOUR VISIT</p>
                    <img src="assets/Line 4.png" alt="" class="col12-img2">
                </div>

                <div class="col12">
                    <p>THANK YOU FOR YOUR VISIT</p>
                    <img src="/public/static/Group 59.png" alt="" class="col12-img1">
                </div>

                <div class="col12">
                    <p>THANK YOU FOR YOUR VISIT</p>
                    <img src="assets/Line 4.png" alt="" class="col12-img2">
                </div>

                <div class="col12">
                    <p>THANK YOU FOR YOUR VISIT</p>
                    <img src="/public/static/Group 59.png" alt="" class="col12-img1">
                </div> 
            </div>
            </marquee>
        <!-- </section> -->
        </div>

        <!-- footer -->
        <footer class="section">
        <div class="footer">
            <div class="f1">
                <h2>HireX.</h2>
            </div>
            <div class="f2"></div>
            <div class="f3">

                <div class="f3-1">
                    <div class="f3-1-heading">
                        <h4>Products</h4>
                    </div>
                    <div class="f3-1-list">
                        <li>Platform</li>
                        <li>Store Overview</li>
                        <li>Email Reports</li>
                        <li>Portfolio</li>
                    </div>
                </div>

                <div class="f3-1">
                    <div class="f3-1-heading">
                        <h4>Resources</h4>
                    </div>
                    <div class="f3-1-list">
                        <li>Case Studies</li>
                        <li>Product Guides</li>
                        <li>Reports</li>
                        <li>Blog</li>
                        <li>FAQ</li>
                    </div>
                </div>

                <div class="f3-1">
                    <div class="f3-1-heading">
                        <h4>Company</h4>
                    </div>
                    <div class="f3-1-list">
                        <li>Careers</li>
                        <li>Contact Sales</li>
                        <li>Contact Support</li>
                    </div>
                </div>

                <div class="f3-1">
                    <div class="f3-1-heading">
                        <h4>Partners</h4>
                    </div>
                    <div class="f3-1-list">
                        <li>Partner With Us</li>
                    </div>
                </div>
            </div>

            <div class="f4">
                <div class="f4-1">
                    <p>Terms and Condition <span class="f4span">
                    Privacy Policy </span></p>
                </div>
                <div class="f4-1">
                    <p class="f4-1side">&#169; HIREX, Inc. 2022</p>
                </div>
            </div>

        </div>
        </footer>
    
    <script >
    let count=0;
        function prev(id){
            id=document.getElementById(id);
            // let l=id.children.length;
            if(count>0){
                id.children[count].style.display="none";
                id.children[--count].style.display="flex"
            }
        }
        
        function next(id){
            id=document.getElementById(id);
            let l=id.children.length;
            if(count<l-1){
                id.children[count].style.display="none";
                id.children[++count].style.display="flex"
            }
        }</script>
</body>
</html>