<!doctype html>
<html>
    <style>

    </style>
 <body>

  <h3> Job Application from 1</h3>
  <form action="">
   <fieldset>     
     <legend>Basic Details</legend> 
 
    <table>
      <tr>
       <td>
        <label name="first name" >First Name</label>
        <input name="first name" type="text" />
       </td>
       <td>
        <label name="last name" >Last Name</label>
        <input name="last name" type="text" />
       </td>
      </tr>  

      <tr>
        <td>
         <label name="Designation" >Designation</label>
         <input name="Designation" type="text" />
        </td>
        <td>
         <label name="Address 1" >Address 1</label>
         <input name="last name" type="text" />
        </td>
       </tr>  

       <tr>
        <td>
         <label for="email" >Email</label>
         <input name="email" type="Email" />
        </td>
        <td>
         <label for="Address 2" >Address 2</label>
         <input id="Address 2" type="text" />
        </td>
       </tr>  

       <tr>
        <td>
         <label for="phone" >Phone</label>
         <input name="phone" type="tel" />
        </td>
        <td>
         <label for="city" >city</label>
         <input id="city" type="text" />
        </td>
       </tr>  

       <tr>
        <td>
         <label for="state" >State</label>
         <select name="State" id="state">
            <option value="Guajarat">Gujarat</option>
            <option value="Maharashtra">Maharashtra</option>
            <option value="UP">UP</option>
            <option value="punjab">Punjab</option>
          </select>
        </td> 
       </tr>  
       
       <tr>
        <td>
           <label>Gender:</label>
            <input type="radio"  name="gender" value="male">Male
            <input type="radio"  name="gender" value="female">Female
            
        </td>

        <td>
            <label for="zip code" >Zip Code</label>
            <input id="zip code" type="text" />
        </td>
       </tr>



       <tr>
        <td>
         <label for="relationship status" >RelationShip Status</label>
         <select name="Status" id="Status">
            <option value="single">Single</option>
            <option value="married">Married</option>
          </select>
        </td> 

        <td>
            <label for="dob">Date of Birth</label>
            <input type="date" id="dob" name="dob"/> 
        </td>
       </tr>  

    </table> 
   </fieldset>


   <fieldset>     
     <legend>Education Details</legend> 
      <table>
        
        <tr>
          <td>SSC Result</td>
        </tr>
        <tr>
            <td>
             <label name="board name" >Name of Board</label>
             <input name="board name" type="text" />
            </td>
            <td>
             <label name="passing year" >Passing Year</label>
             <input name="passing year" type="number" />
            </td>
            <td>
                <label name="percentage" >Percentage</label>
                <input name="percentage" type="number" />
               </td>
        </tr>  
          
        <tr>
          <td><p>HSC Result</p></td>
        </tr>
        <tr>
            <td>
             <label name="board name" >Name of Board</label>
             <input name="board name" type="text" />
            </td>
            <td>
             <label name="passing year" >Passing Year</label>
             <input name="passing year" type="number" />
            </td>
            <td>
                <label name="percentage" >Percentage</label>
                <input name="percentage" type="number" />
               </td>
        </tr> 

        <tr>
          <td>Bachelor Result</td>
        </tr>
        <tr>
            <td>
             <label name="board name" >Name of University</label>
             <input name="board name" type="text" />
            </td>
            <td>
             <label name="passing year" >Passing Year</label>
             <input name="passing year" type="number" />
            </td>
            <td>
                <label name="percentage" >Percentage</label>
                <input name="percentage" type="number" />
               </td>
        </tr> 

        <tr>
          <td>Master Result</td>
        </tr>
        <tr>
            <td>
             <label name="board name" >Name of University</label>
             <input name="board name" type="text" />
            </td>
            <td>
             <label name="passing year" >Passing Year</label>
             <input name="passing year" type="number" />
            </td>
            <td>
                <label name="percentage" >Percentage</label>
                <input name="percentage" type="number" />
               </td>
        </tr> 
        
      </table>
    </fieldset>




    <fieldset>
      <legend>Work Experience</legend> 
      <table>
      <tr>
        <td>
          <label name="company name" >Company Name</label>
          <input name="course name" type="text" />
         </td>

        <td>
          <label name="designation" >Designation</label>
          <input name="designation" type="designation" />
        </td>

        <td>
          <label for="from">From</label>
          <input type="date" name="from"/> 
        </td>

        <td>
        <label for="to">To </label>
        <input type="date" id="to" name="to"> 
        </td>
      </tr>

      <tr>
        <td>
          <label name="company name" >Company Name</label>
          <input name="course name" type="text" />
         </td>

        <td>
          <label name="designation" >Designation</label>
          <input name="designation" type="designation" />
        </td>

        <td>
          <label for="from">From</label>
          <input type="date" name="from"/> 
        </td>

        <td>
        <label for="to">To </label>
        <input type="date" id="to" name="to"> 
        </td>
      </tr>

      <tr>
        <td>
          <label name="company name" >Company Name</label>
          <input name="course name" type="text" />
         </td>

        <td>
          <label name="designation" >Designation</label>
          <input name="designation" type="text" />
        </td>

        <td>
          <label for="from">From</label>
          <input type="date" name="from"/> 
        </td>

       <td>
        <label for="to">To </label>
        <input type="date" id="to" name="to"> 
        </td>
      </tr>
    </table>
    </fieldset>

    
    <!--  Language KNown and Technologies youo know-->
   <table>
    <tr>
     <td>
      <fieldset style="width :500px">
       <legend>Language Known</legend>  
        
       <input type="checkbox" name="lang1" value="hindi">
       <label for="lang1"> Hindi</label>&nbsp;&nbsp;
       <input type="checkbox" name="read" value="read">
       <label for="read"> read</label>&nbsp;
       <input type="checkbox" name="write" value="write">
       <label for="write"> write</label>&nbsp;
       <input type="checkbox" name="speak" value="speak">
       <label for="speak"> speak</label> <br> 

       <input type="checkbox" name="lang1" value="english">
       <label for="lang1"> English</label>&nbsp;&nbsp;
       <input type="checkbox" name="read" value="read">
       <label for="read"> read</label>&nbsp;
       <input type="checkbox" name="write" value="write">
       <label for="write"> write</label>&nbsp;
       <input type="checkbox" name="speak" value="speak">
       <label for="speak"> speak</label> <br> 

       <input type="checkbox" name="lang1" value="guajarti">
       <label for="lang1"> Gujarati</label>&nbsp;&nbsp;
       <input type="checkbox" name="read" value="read">
       <label for="read"> read</label>&nbsp;
       <input type="checkbox" name="write" value="write">
       <label for="write"> write</label>&nbsp;
       <input type="checkbox" name="speak" value="speak">
       <label for="speak"> speak</label> <br> 
      
      </fieldset>
     </td>

     <td>
     <fieldset style="width :500px">
      <legend>Technologies you know</legend>  

      <input type="checkbox" name="technology" value="php">
      <label for="technology1"> PHP</label>&nbsp;&nbsp;
        <input type="radio"  name="beginer" value="beginer">
        <label for="beginer">beginer</label>
        <input type="radio"  name="mediator" value="mediator">
        <label for="mediator">Mediator</label>
        <input type="radio" name="expert" value="expert">
        <label for="expert">Expert</label> <br>

      <input type="checkbox" name="technology" value="MYSQL">
      <label for="technology1"> MYSQL</label>&nbsp;&nbsp;
        <input type="radio"  name="beginer" value="beginer">
        <label for="beginer">beginer</label>
        <input type="radio"  name="mediator" value="mediator">
        <label for="mediator">Mediator</label>
        <input type="radio" name="expert" value="expert">
        <label for="expert">Expert</label> <br>

      <input type="checkbox" name="technology" value="laravel">
      <label for="technology1"> Laravel</label>&nbsp;&nbsp;
        <input type="radio"  name="beginer" value="beginer">
        <label for="beginer">beginer</label>
        <input type="radio"  name="mediator" value="mediator">
        <label for="mediator">Mediator</label>
        <input type="radio" name="expert" value="expert">
        <label for="expert">Expert</label><br>
 
      <input type="checkbox" name="technology" value="Oracle">
      <label for="technology1"> Oracle</label>&nbsp;&nbsp;
        <input type="radio"  name="beginer" value="beginer">
        <label for="beginer">beginer</label>
        <input type="radio"  name="mediator" value="mediator">
        <label for="mediator">Mediator</label>
        <input type="radio" name="expert" value="expert">
        <label for="expert">Expert</label>

    
      </fieldset>
      </td>

    </tr>
  </table>



  <fieldset>
   <legend>Refrence Contact</legend>  
   <table>
    <tr>
      <td>
        <label name="name" >Name</label>
        <input name="course name" type="text" />
       </td>

      <td>
        <label name="contact number" >Contact Number</label>
        <input name="contact number" type="text" />
      </td>

      <td>
        <label for="relation">Relation</label>
        <input type="text" name="relation"/> 
      </td>
    </tr>   


    <tr>
      <td>
        <label name="name" >Name</label>
        <input name="course name" type="text" />
       </td>

      <td>
        <label name="contact number" >Contact Number</label>
        <input name="contact number" type="text" />
      </td>

      <td>
        <label for="relation">Relation</label>
        <input type="text" name="relation"/> 
      </td>
    </tr>   
  </table>
  </fieldset>


  <fieldset>
    <legend>Prefrences</legend>
    <tr>
     <td> 
      <label for="prefred location" >Prefred Location</label> &nbsp;
      <select name="prefred location" id="prefred location">
        <option value="surat">Surat</option>
        <option value="pune">Pune</option>
        <option value="banglore ">Banglore</option>
      </select>
     </td>

     <td>
      <label for="notice period ">Notice Period </label>
      <input type="text" name="notice period"/> 
    </td>

    <td> 
      <label for="department" >Department</label> &nbsp;
      <select name="department id="department">
        <option value="development">development</option>
        <option value="design">Design</option>
        <option value="marketing ">Marketing</option>
      </select>
     </td>
    </tr>
    <br><br>
   <tr>
    <td>
      <label for="expected ctc">Expected CTC</label>
      <input type="text" name="expected ctc"/> 
    </td>
   </tr>
<br><br>
   <tr>
    <td>
      <label for="current ctc">Current CTC</label>
      <input type="text" name="current ctc"/> 
    </td>
   </tr>
  </fieldset>
  <input type="submit" value="Submit" style="margin-left: 600px; margin-top: 10px; size: 20px;">
</form> 

 </body>

</html>